/* Tints and shades: https://www.tutorialrepublic.com/html-reference/html-color-picker.php */
/* ChowFun is a free font by Harold Lohner from http://www.haroldsfonts.com/chowfun.html */
@font-face {
  font-family: "Conv_Chowfun";
  src: url("fonts/Chowfun.eot");
  src: local("?"), url("fonts/Chowfun.woff") format("woff"), url("fonts/Chowfun.ttf") format("truetype"), url("fonts/Chowfun.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* From https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
}

/* Natural flow and rhythm in articles by default 
(Not finding this helpful so removing it.)
article > * + * {
  margin-top: 1em;
}
*/
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  -webkit-clip-path: none;
  clip-path: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

/* -----------------------------------------------------------------------------------------
Header
------------------------------------------------------------------------------------------ */
p.logo {
  font-family: "Conv_Chowfun", sans-serif;
  margin: 0;
}
p.logo > a {
  text-decoration: none;
}

/* -----------------------------------------------------------------------------------------
Headings
------------------------------------------------------------------------------------------ */
h1, h2, h3, h4 {
  clear: both;
  font-weight: bold;
  margin: 1em 0 0.25em 0;
}

h1 {
  font-family: "Conv_Chowfun", Sans-Serif;
  color: #b65039;
  font-size: 32px;
  line-height: 1em;
}
h1 span {
  font-size: 20px;
}

h2 {
  font-size: 20px;
  color: #145a9e;
  /*  */
  clear: both;
}
h2 span {
  font-size: 16px;
}

h3 {
  font-size: 18px;
  color: #000;
}

/* -----------------------------------------------------------------------------------------
Elements
------------------------------------------------------------------------------------------ */
p,
ul,
ol {
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.5em;
}

/* -----------------------------------------------------------------------------------------
Photos and captions
Overlay and loading graphic
------------------------------------------------------------------------------------------ */
.figure--thumbnail {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  margin: 0 20px 20px 0;
}
.figure--thumbnail-youtube {
  width: 246px;
  margin-top: 10px;
}

.figure__caption--thumbnail {
  font-size: 13px;
  font-style: italic;
}

.figure__caption--fullsize {
  display: none;
  /* Contains the caption for the photo shown with PhotoSwipe. */
}

.figure__image {
  box-shadow: 5px 5px 4px 0px #aaa;
  margin-bottom: 8px;
  padding: 4px;
  border: 1px solid #aaa;
}

.pswp__caption__center > p,
.pswp__caption__center > pre,
.pswp__caption__center > img,
.pswp__caption__center > iframe {
  margin: 0 0 0.5em 10px;
}

/* -----------------------------------------------------------------------------------------
Overlay and loading graphic
------------------------------------------------------------------------------------------ */
.menuOverlay {
  display: none;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading {
  display: none;
}

/* -----------------------------------------------------------------------------------------
Error pages
------------------------------------------------------------------------------------------ */
.errorBanner.error401, .errorBanner.error403 {
  background-image: url("../errorhandling/images/barbedwire.jpg");
}
.errorBanner.error404 {
  background-image: url("../errorhandling/images/nothingthere.jpg");
}
.errorBanner.error500 {
  background-image: url("../errorhandling/images/trainderailment.jpg");
}

/* -----------------------------------------------------------------------------------------
CSS triangles for end of page navigation
------------------------------------------------------------------------------------------ */
.footnotes {
  margin-top: 1em;
  border-top: 1px solid #999;
  padding-top: 0.5em;
}

.next {
  position: relative;
  padding-right: 20px;
}
.next:before {
  content: " ";
  position: absolute;
  top: 4px;
  right: 0px;
  border: 0 solid transparent;
  border-bottom-width: 7px;
  border-top-width: 7px;
  border-left: 12px solid #6c9;
}

.previousPage {
  position: relative;
  padding-left: 22px;
}
.previousPage:before {
  content: " ";
  position: absolute;
  top: 4px;
  left: 2px;
  border: 0 solid transparent;
  border-bottom-width: 7px;
  border-top-width: 7px;
  border-right: 12px solid #f00;
}

.noteGoBack {
  position: relative;
  padding-left: 20px;
}
.noteGoBack:before {
  content: " ";
  position: absolute;
  top: 4px;
  left: 0px;
  border: 0 solid transparent;
  border-bottom-width: 7px;
  border-top-width: 7px;
  border-right: 12px solid #90c;
}

.toTop {
  position: relative;
  padding-left: 20px;
}
.toTop:before {
  content: " ";
  position: absolute;
  top: 5px;
  left: 0px;
  border: 0 solid transparent;
  border-right-width: 7px;
  border-left-width: 7px;
  border-bottom: 12px solid #f80;
}

/* -----------------------------------------------------------------------------------------
Miscellaneous
------------------------------------------------------------------------------------------ */
/* Used to indicate text of bumper sticker. */
.sticker {
  color: #006666;
  font-style: italic;
  font-weight: bold;
}

.copyright {
  text-align: center;
  color: #666;
  font-size: 13px;
  border-top: 1px solid #999;
  padding-top: 20px;
  margin: 20px 0 0 0;
}

/* ***********************************************
Mobile 
************************************************ */
@media only screen and (max-width: 959px) {
  /* -----------------------------------------------------------------------------------------
  Layout
  ------------------------------------------------------------------------------------------ */
  header {
    background-color: #14599E;
    color: #fff;
    text-align: right;
    height: 83px;
  }

  main,
footer {
    background-color: #fff;
    padding: 20px;
  }

  /* -----------------------------------------------------------------------------------------
  Header
  ------------------------------------------------------------------------------------------ */
  .logo {
    font-size: 31px;
    padding: 12px 10px 0 0;
  }
  .logo > a {
    color: #fff;
  }

  .tagline {
    padding-right: 13px;
    padding-bottom: 8px;
    font-size: 12px;
    font-style: italic;
    margin-top: -10px;
  }

  /* -----------------------------------------------------------------------------------------
  Open/close navigation
  ------------------------------------------------------------------------------------------ */
  label.menu {
    position: absolute;
    z-index: 2;
    top: 22px;
    left: 11px;
    width: 44px;
    height: 44px;
    overflow: hidden;
    color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: 10px 4px;
    /* Font Awesome 'bars' */
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTYgMTMyaDQxNmM4LjgzNyAwIDE2LTcuMTYzIDE2LTE2Vjc2YzAtOC44MzctNy4xNjMtMTYtMTYtMTZIMTZDNy4xNjMgNjAgMCA2Ny4xNjMgMCA3NnY0MGMwIDguODM3IDcuMTYzIDE2IDE2IDE2em0wIDE2MGg0MTZjOC44MzcgMCAxNi03LjE2MyAxNi0xNnYtNDBjMC04LjgzNy03LjE2My0xNi0xNi0xNkgxNmMtOC44MzcgMC0xNiA3LjE2My0xNiAxNnY0MGMwIDguODM3IDcuMTYzIDE2IDE2IDE2em0wIDE2MGg0MTZjOC44MzcgMCAxNi03LjE2MyAxNi0xNnYtNDBjMC04LjgzNy03LjE2My0xNi0xNi0xNkgxNmMtOC44MzcgMC0xNiA3LjE2My0xNiAxNnY0MGMwIDguODM3IDcuMTYzIDE2IDE2IDE2eiIvPjwvc3ZnPg==");
  }
  label.menu.touched {
    border: 1px dotted white;
  }
  label.menu:after {
    content: "MENU";
    display: block;
    position: relative;
    top: 3px;
    left: -4px;
    color: white;
    font-size: 12px;
  }

  input.menu {
    display: none;
  }
  input.menu:checked + label.menu {
    /* Font Awesome 'times' */
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMjQyLjcyIDI1NmwxMDAuMDctMTAwLjA3YzEyLjI4LTEyLjI4IDEyLjI4LTMyLjE5IDAtNDQuNDhsLTIyLjI0LTIyLjI0Yy0xMi4yOC0xMi4yOC0zMi4xOS0xMi4yOC00NC40OCAwTDE3NiAxODkuMjggNzUuOTMgODkuMjFjLTEyLjI4LTEyLjI4LTMyLjE5LTEyLjI4LTQ0LjQ4IDBMOS4yMSAxMTEuNDVjLTEyLjI4IDEyLjI4LTEyLjI4IDMyLjE5IDAgNDQuNDhMMTA5LjI4IDI1NiA5LjIxIDM1Ni4wN2MtMTIuMjggMTIuMjgtMTIuMjggMzIuMTkgMCA0NC40OGwyMi4yNCAyMi4yNGMxMi4yOCAxMi4yOCAzMi4yIDEyLjI4IDQ0LjQ4IDBMMTc2IDMyMi43MmwxMDAuMDcgMTAwLjA3YzEyLjI4IDEyLjI4IDMyLjIgMTIuMjggNDQuNDggMGwyMi4yNC0yMi4yNGMxMi4yOC0xMi4yOCAxMi4yOC0zMi4xOSAwLTQ0LjQ4TDI0Mi43MiAyNTZ6Ii8+PC9zdmc+");
  }
  input.menu:checked + label.menu:after {
    content: "CLOSE";
    left: -3px;
  }
  input.menu:checked + label.menu + nav {
    -ms-transform: translate(64px);
        transform: translate(64px);
    transition: 0.2s linear;
  }
  input.menu:checked + label.menu + nav + .menuOverlay {
    display: block;
  }

  /* -----------------------------------------------------------------------------------------
  Navigation
  ------------------------------------------------------------------------------------------ */
  nav {
    box-sizing: border-box;
    width: calc(100% - 64px);
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0;
    -ms-transform: translate(calc(100% + 64%));
        transform: translate(calc(100% + 64%));
    background-color: #14599E;
    text-align: left;
  }
  nav li {
    position: relative;
    margin-bottom: 0;
  }
  nav li > a,
nav li label {
    box-sizing: border-box;
    color: #fff;
    display: block;
    height: 42px;
    padding: 8px 0 0 0;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid #A1BCD8;
  }
  nav li.hasChildren > a {
    display: none;
  }
  nav li > input {
    display: none;
    /* This will remove the down angle when the submenu is expanded without relying on Javascript */
    /* If Javascript is running then reset the arrow to point up. */
  }
  nav li > input + label:before {
    content: " ";
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 13px;
    left: 20px;
    background-color: transparent;
    background-size: 22px 22px;
    /* Font Awesome 'chevron-down' */
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMjA3LjAyOSAzODEuNDc2TDEyLjY4NiAxODcuMTMyYy05LjM3My05LjM3My05LjM3My0yNC41NjkgMC0zMy45NDFsMjIuNjY3LTIyLjY2N2M5LjM1Ny05LjM1NyAyNC41MjItOS4zNzUgMzMuOTAxLS4wNEwyMjQgMjg0LjUwNWwxNTQuNzQ1LTE1NC4wMjFjOS4zNzktOS4zMzUgMjQuNTQ0LTkuMzE3IDMzLjkwMS4wNGwyMi42NjcgMjIuNjY3YzkuMzczIDkuMzczIDkuMzczIDI0LjU2OSAwIDMzLjk0MUwyNDAuOTcxIDM4MS40NzZjLTkuMzczIDkuMzcyLTI0LjU2OSA5LjM3Mi0zMy45NDIgMHoiLz48L3N2Zz4=");
  }
  nav li > input:checked + label:before {
    background-image: none;
  }
  nav li > input:checked + label.checked:before {
    /* Font Awesome 'chevron-up' */
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMjQwLjk3MSAxMzAuNTI0bDE5NC4zNDMgMTk0LjM0M2M5LjM3MyA5LjM3MyA5LjM3MyAyNC41NjkgMCAzMy45NDFsLTIyLjY2NyAyMi42NjdjLTkuMzU3IDkuMzU3LTI0LjUyMiA5LjM3NS0zMy45MDEuMDRMMjI0IDIyNy40OTUgNjkuMjU1IDM4MS41MTZjLTkuMzc5IDkuMzM1LTI0LjU0NCA5LjMxNy0zMy45MDEtLjA0bC0yMi42NjctMjIuNjY3Yy05LjM3My05LjM3My05LjM3My0yNC41NjkgMC0zMy45NDFMMjA3LjAzIDEzMC41MjVjOS4zNzItOS4zNzMgMjQuNTY4LTkuMzczIDMzLjk0MS0uMDAxeiIvPjwvc3ZnPg==");
  }
  nav li > input ~ ul {
    display: none;
  }
  nav li > input:checked ~ ul {
    display: block;
  }
  nav .menu2 {
    margin-left: 60px;
  }
  nav .menu2 label:before {
    left: 0;
  }
  nav .menu3 {
    margin-left: 40px;
  }
  nav .menu3 label:before {
    left: 0;
  }
  nav ul.menu1 > li > a {
    padding-left: 20px;
  }
  nav ul.menu1 > li > label {
    padding-left: 60px;
  }
  nav ul.menu2 > li > a,
nav ul.menu3 > li > a {
    padding-left: 0px;
  }
  nav ul.menu2 > li > label,
nav ul.menu3 > li > label {
    padding-left: 40px;
  }

  /* -----------------------------------------------------------------------------------------
  Overlay
  ------------------------------------------------------------------------------------------ */
  .menuOverlay {
    z-index: 1;
    top: 83px;
    height: 1000px;
    /* Reset to document height if Javascript is working. */
  }

  /* -----------------------------------------------------------------------------------------
  Error pages
  ------------------------------------------------------------------------------------------ */
  .errorBanner {
    margin: -19px -20px 0;
    height: 0;
    padding-top: 23.32%;
    overflow: hidden;
    background-size: 100%;
  }

  a.mobileLinkToHome {
    /* Definitely repeating myself here. */
    display: block;
    position: absolute;
    z-index: 2;
    top: 22px;
    left: 11px;
    width: 44px;
    height: 44px;
    overflow: hidden;
    color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: 10px 4px;
    /* Font Awesome 'home' */
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmZmZmYiIHZpZXdCb3g9IjAgMCA1NzYgNTEyIj48cGF0aCBkPSJNMjgwLjM3IDE0OC4yNkw5NiAzMDAuMTFWNDY0YTE2IDE2IDAgMCAwIDE2IDE2bDExMi4wNi0uMjlhMTYgMTYgMCAwIDAgMTUuOTItMTZWMzY4YTE2IDE2IDAgMCAxIDE2LTE2aDY0YTE2IDE2IDAgMCAxIDE2IDE2djk1LjY0YTE2IDE2IDAgMCAwIDE2IDE2LjA1TDQ2NCA0ODBhMTYgMTYgMCAwIDAgMTYtMTZWMzAwTDI5NS42NyAxNDguMjZhMTIuMTkgMTIuMTkgMCAwIDAtMTUuMyAwek01NzEuNiAyNTEuNDdMNDg4IDE4Mi41NlY0NC4wNWExMiAxMiAwIDAgMC0xMi0xMmgtNTZhMTIgMTIgMCAwIDAtMTIgMTJ2NzIuNjFMMzE4LjQ3IDQzYTQ4IDQ4IDAgMCAwLTYxIDBMNC4zNCAyNTEuNDdhMTIgMTIgMCAwIDAtMS42IDE2LjlsMjUuNSAzMUExMiAxMiAwIDAgMCA0NS4xNSAzMDFsMjM1LjIyLTE5My43NGExMi4xOSAxMi4xOSAwIDAgMSAxNS4zIDBMNTMwLjkgMzAxYTEyIDEyIDAgMCAwIDE2LjktMS42bDI1LjUtMzFhMTIgMTIgMCAwIDAtMS43LTE2LjkzeiIvPjwvc3ZnPg==");
  }
  a.mobileLinkToHome:after {
    content: "HOME";
    display: block;
    position: relative;
    top: 25px;
    left: 2px;
    color: white;
    font-size: 12px;
  }
}
/* ***********************************************
Desktop - see also _image-menu.scss.
************************************************ */
@media only screen and (min-width: 960px) {
  body {
    background: #729BC4 linear-gradient(to bottom, #14599E 0%, #729BC4 100%) repeat-x;
    background-size: 100% 1000px;
  }

  /* -----------------------------------------------------------------------------------------
  Layout
  ------------------------------------------------------------------------------------------ */
  div.page {
    width: 960px;
    margin: 20px auto;
    background-color: #fff;
    position: relative;
    border-radius: 20px;
  }

  main {
    padding: 0 40px;
  }

  footer {
    clear: both;
    padding: 20px 40px;
  }

  .story {
    width: calc(100% - 210px);
    float: left;
    margin: 0 40px 1em 0;
  }

  /* -----------------------------------------------------------------------------------------
  Header
  ------------------------------------------------------------------------------------------ */
  p.logo {
    font-size: 48px;
    text-shadow: 4px 4px 6px #666;
    padding: 10px 10px 0 20px;
  }
  p.logo > a {
    color: #000;
  }

  .tagline {
    font-style: italic;
    margin-top: -10px;
    padding-left: 20px;
  }

  /* -----------------------------------------------------------------------------------------
  Error pages
  ------------------------------------------------------------------------------------------ */
  .errorBanner {
    margin-left: -38px;
    margin-right: -38px;
    height: 223px;
    overflow: hidden;
  }
}
/**************************************************************
Image Menu
**************************************************************/
@media only screen and (min-width: 960px) {
  #imageMenu {
    position: relative;
    width: 956px;
    height: 300px;
    /* Primary, secondary and tertiary menus. */
    overflow: hidden;
    margin: 10px 0 10px 2px;
  }

  /*
  body.whoWeAre #imageMenu,
  body.whereWeLive #imageMenu,
  body.timeForJustice #imageMenu {
  	height: 260px;  / * Primary and secondary menus. * /
  } 

  body.home #imageMenu,
  body.contactUs #imageMenu {
  	height: 232px; }  / * Primary menu only. * /
  */
  /* UL */
  ul.menu1 {
    list-style-type: none;
    margin: 0px;
    display: block;
    width: 1500px;
    overflow: hidden;
  }

  /* LI */
  ul.menu1 > li {
    float: left;
    height: 228px;
    width: 55px;
    transition: width 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: linear;
    display: block;
    border-right: 2px solid white;
  }

  ul.menu1 > li.selected {
    background-color: green;
    width: 500px;
    transition: width 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: linear;
  }

  ul.menu1 > li.selected.off {
    width: 55px;
    transition: width 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: linear;
  }

  ul.menu1 > li.on {
    background-color: red;
    border-bottom: 4px solid #fff;
    width: 500px;
    transition: width 0.5s;
    transition-delay: 0.1;
    transition-timing-function: linear;
    /* Need the LI to extend down at least to the top of the submenu so that a mouseout event is not registered when moving to the child UL submenu */
  }

  /* Top level will use the Gilder/Levin image replacement method (www.mezzoblue.com/tests/revised-image-replacement/#gilderlevin)  */
  ul.menu1 > li > a.photoLink {
    width: 100%;
    /* of the LI */
    position: relative;
    height: 223px;
    display: block;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    overflow: hidden;
    /* or the text will be visible in the gap between photos */
  }

  /* SPAN */
  ul.menu1 > li a.photoLink > span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(/images/headerSprite_20200611.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  body.mediaFromLocal ul.menu1 > li > a.photoLink span {
    background-image: url(../images/headerSprite_20200611.jpg);
  }

  ul.menu1 > li.home > a > span {
    background-position: 0 0;
  }

  ul.menu1 > li.whoweare > a > span {
    background-position: -500px 0;
  }

  ul.menu1 > li.wherewelive > a > span {
    background-position: -1000px 0;
  }

  ul.menu1 > li.newsletters > a > span {
    background-position: -1500px 0;
  }

  ul.menu1 > li.technology > a > span {
    background-position: -2000px 0;
  }

  ul.menu1 > li.artsandculture > a > span {
    background-position: -2500px 0;
  }

  ul.menu1 > li.timeforjustice > a > span {
    background-position: -3000px 0;
  }

  ul.menu1 > li.photos > a > span {
    background-position: -3500px 0;
  }

  ul.menu1 > li.contactus > a > span {
    background-position: -4000px 0;
  }

  a.photoLink > .verticalText,
li.selected.off > a > .verticalText {
    -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    -ms-transform-origin: 0.4em 0.5em;
        transform-origin: 0.4em 0.5em;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    position: absolute;
    bottom: 7px;
    left: 7px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 27px;
    line-height: 27px;
    font-weight: 300;
    text-shadow: 0px 0px 15px #000;
    margin: 0;
    white-space: nowrap;
  }

  li.on > a > .verticalText,
li.selected > a > .verticalText {
    -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    -ms-transform-origin: 0.4em 0.5em;
        transform-origin: 0.4em 0.5em;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
  }

  .clear {
    clear: both;
  }

  /* -----------------------------------------------------------------------------------------
  Secondary menu
  ------------------------------------------------------------------------------------------ */
  /* UL */
  ul.menu2 {
    display: none;
    position: absolute;
    top: 232px;
    left: 0;
    float: left;
    width: 956px;
    list-style: none;
    background: #3671ac linear-gradient(to bottom, #3671ac 0%, #3973ad 100%) repeat-x;
    /* Should match page background. */
    background-size: 100% 32px;
    font-size: 14px;
    line-height: 1em;
  }

  ul.menu1 > li.selected > ul,
ul.menu1 > li.on > ul {
    display: block;
  }

  ul.menu1 > li.off > ul {
    display: none;
  }

  /* LI */
  ul.menu2 > li,
ul.menu3 > li {
    float: none;
    display: inline;
  }

  /* A */
  ul.menu2 > li > a,
ul.menu3 > li > a {
    display: inline-block;
    padding: 10px 8px 8px 8px;
    background-color: transparent;
    background-image: none;
    text-decoration: none;
  }

  ul.menu2 > li > a {
    color: #fff;
    border-right: 1px solid white;
    border-bottom-style: none;
  }

  ul.menu2 > li.selected > a,
ul.menu2 > li.on > a,
ul.menu2 > li:hover > a,
ul.menu2 > li.off > a {
    color: #14599E;
    background-color: #fff;
  }

  ul.menu2 > li.selected > a {
    background: linear-gradient(to bottom, #D0DDEB 0%, #ffffff 100%) repeat-x;
    font-weight: bold;
  }

  ul.menu2 > li > a:hover {
    text-decoration: underline;
  }

  ul.menu2 > li.selected > a:hover {
    /* Want no visible change when moving mouse over currently selected item */
    text-decoration: none;
    cursor: default;
  }

  /* -----------------------------------------------------------------------------------------
  Tertiary menu
  ------------------------------------------------------------------------------------------ */
  /* UL */
  ul.menu3 {
    position: static;
    float: left;
    width: 956px;
    border-bottom: 1px solid #437AB1;
    background-image: none;
    background-color: #fff;
    display: none;
  }

  ul.menu2 > li.selected > ul,
ul.menu2 > li.on > ul {
    display: block;
  }

  ul.menu2 > li.off > ul {
    display: none;
  }

  /* LI */
  ul.menu3 > li {
    font-weight: normal;
  }

  /* A */
  ul.menu3 > li > a {
    color: #14599E;
    text-decoration: none;
    background-image: none;
    font-weight: normal;
  }

  ul.menu3 > li > a:hover {
    text-decoration: underline;
  }

  ul.menu3 > li.selected > a {
    font-weight: bold;
  }

  ul.menu3 > li.selected > a:hover {
    text-decoration: none;
  }

  /* -----------------------------------------------------------------------------------------
  Controls used on mobile menu
  ------------------------------------------------------------------------------------------ */
  nav input,
nav label {
    display: none;
  }

  label.menu,
input.menu {
    display: none;
  }

  /* -----------------------------------------------------------------------------------------
  Menu overlay and loading graphic
  ------------------------------------------------------------------------------------------ */
  .menuOverlay {
    height: 296px;
    top: 105px;
    z-index: 3;
  }

  .loading {
    position: absolute;
    z-index: 4;
    top: 90px;
    left: 398px;
    background-color: #fff;
    text-align: center;
    padding: 5px 10px 10px 10px;
    width: 160px;
    border-radius: 10px;
  }

  .loading p {
    margin: 0;
  }

  .loading img {
    margin: 10px auto;
    display: block;
  }
}
/* Modified from https://medium.com/@eugeniolujambio/accessible-css-only-floating-labels-74bf9173bc5f. 
That example showed using :placeholder-shown pseudoclass but I changed to :focus since I wonder if the input 
really has focus if I click and there is no visible change but :placeholder-shown is still needed to retain
the position of the label after the user has entered something. */
.floating-label {
  position: relative;
  margin: 24px 0;
}
.floating-label label {
  position: absolute;
  top: calc(50% - 10px);
  left: 10px;
  font-size: 14px;
  opacity: 0;
  transition: all 0.3s ease;
}
.floating-label input {
  font-size: 18px;
  padding: 10px 10px;
  margin-bottom: 1px;
  height: 56px;
  border: solid 1px #D0DDEB;
  background: #fff;
  box-sizing: border-box;
  transition: all 0.3s linear;
  -webkit-appearance: none;
}
.floating-label input.narrow {
  width: 260px;
}
.floating-label input.wide {
  width: 100%;
}
.floating-label input:focus {
  border-bottom: solid 2px #14599E;
  margin-bottom: 0;
  outline: 0;
  box-shadow: 0 2px 6px -8px rgba(20, 89, 158, 0.45);
}
.floating-label input:focus:-ms-input-placeholder {
  color: transparent;
}
.floating-label input:focus::placeholder {
  color: transparent;
}
.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
  -ms-transform: translate(-5px, -31px);
      transform: translate(-5px, -31px);
  opacity: 1;
  background-color: #fff;
  padding: 0 5px;
}

input.submit {
  display: inline-block;
  transition: 0.3s ease;
  font-size: 18px;
  height: 40px;
  line-height: 38px;
  margin: 10px 0;
  padding: 0 20px;
  box-shadow: inset 0 1px 0 0 #fff, 0 1px 1px 0 transparent;
  border-radius: 20px;
  background-clip: padding-box;
  color: #666;
  background-color: #D0DDEB;
  background-image: linear-gradient(#E7EEF5, #D0DDEB);
  border: 1px solid #14599E;
}
input.submit:hover, input.submit:active, input.submit:focus {
  box-shadow: inset 0 25px 0 0 rgba(255, 255, 255, 0.5), 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  color: #000;
}

.textAreaRow {
  margin-top: -28px;
}

label.textarea {
  font-size: 18px;
  position: relative;
  top: 40px;
  left: 5px;
  transition: all 0.3s linear;
  padding: 0 5px;
  background-color: #fff;
}
label.textarea.focused {
  top: 8px;
  font-size: 14px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: solid 1px #D0DDEB;
}

.reCaptchaRow {
  margin: 20px 0;
}
.reCaptchaRow label {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
}

/* Note to future self on using inline SVG for Font Awesome icons:
Download the .zip file from https://fontawesome.com/how-to-use/on-the-web/setup/hosting-font-awesome-yourself 
and find the file for the icon under svgs > solid. Copy to a text editor and in the path, add
	fill="#ffffff" 
or whatever color is needed. This can't be updated by CSS. Go to https://www.base64encode.org and encode
it then replace the ... below with the encoded text:
	background-image: url("data:image/svg+xml;base64,..."); 
Also specify background-size.
*/
