/* ***********************************************
Desktop - see also _image-menu.scss.
************************************************ */


@media only screen and (min-width: 960px) {
	body {
		background: $blueTint2 linear-gradient(to bottom, $blueDark 0%, $blueTint2 100%) repeat-x;
		background-size: 100% 1000px;
	}

	/* -----------------------------------------------------------------------------------------
	Layout
	------------------------------------------------------------------------------------------ */
	div.page { 
		width: 960px;
		margin: 20px auto;
		background-color: #fff;
		position: relative;
		border-radius: 20px;
	}

	main {
		padding: 0 40px;
	}

	footer {
		clear: both;
		padding: 20px 40px;
	}

	.story {
		width: calc(100% - 210px);
		float: left;
		margin: 0 40px 1em 0;
	}


	/* -----------------------------------------------------------------------------------------
	Header
	------------------------------------------------------------------------------------------ */
	p.logo {
		font-size: 48px;
		text-shadow: 4px 4px 6px #666;
		padding: 10px 10px 0 20px;
	
		> a {
			color: #000;
		}
	}

	.tagline {
		font-style: italic;
		margin-top: -10px;
		padding-left: 20px;
	}  
}