/* ChowFun is a free font by Harold Lohner from http://www.haroldsfonts.com/chowfun.html */
@font-face {
	font-family: 'Conv_Chowfun';
	src: url("fonts/Chowfun.eot");
	src: local("?"), 
		url("fonts/Chowfun.woff") format("woff"), 
		url("fonts/Chowfun.ttf") format("truetype"), 
		url("fonts/Chowfun.svg") format("svg");
	font-weight: normal;
	font-style: normal; 
}
  