/**************************************************************
Image Menu
**************************************************************/
@media only screen and (min-width: 960px) {
	#imageMenu {
		position: relative;
		width: 956px;
		height: 300px; /* Primary, secondary and tertiary menus. */
		overflow: hidden;
		margin: 10px 0 10px 2px; 
	}

	/*
	body.whoWeAre #imageMenu,
	body.whereWeLive #imageMenu,
	body.timeForJustice #imageMenu {
		height: 260px;  / * Primary and secondary menus. * /
	} 

	body.home #imageMenu,
	body.contactUs #imageMenu {
		height: 232px; }  / * Primary menu only. * /
	*/

	/* UL */
	ul.menu1 {
		list-style-type: none;
		margin: 0px;
		display: block;
		width: 1500px;
		overflow: hidden;
	}
	
	/* LI */
	ul.menu1 > li {
		float: left;
		height: 228px;
		width: 55px;
		transition: width 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: linear;
		display: block;
		border-right: 2px solid white;
	}
	
	
	ul.menu1 > li.selected {
		background-color: green;
		width: 500px;
		transition: width 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: linear;
	}
		
	ul.menu1 > li.selected.off {
		width: 55px;
		transition: width 0.5s;
		transition-delay: 0.1s;
		transition-timing-function: linear;
	}
	
	ul.menu1 > li.on {
		background-color: red;
		border-bottom: 4px solid #fff;
		width: 500px;
		transition: width 0.5s;
		transition-delay: 0.1;
		transition-timing-function: linear;
		/* Need the LI to extend down at least to the top of the submenu so that a mouseout event is not registered when moving to the child UL submenu */ 
	}
	
	/* Top level will use the Gilder/Levin image replacement method (www.mezzoblue.com/tests/revised-image-replacement/#gilderlevin)  */
	ul.menu1 > li > a.photoLink {
		width: 100%;
		/* of the LI */
		position: relative;
		height: 223px;
		display: block;
		border-bottom: 2px solid #fff;
		cursor: pointer;
		overflow: hidden;
		/* or the text will be visible in the gap between photos */ 
	}
	
	/* SPAN */
	ul.menu1 > li a.photoLink > span {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url(/images/headerSprite_20200611.jpg);
		background-color: transparent;
		background-repeat: no-repeat;
		background-attachment: scroll; 
	}
	
	body.mediaFromLocal ul.menu1 > li > a.photoLink span {
		background-image: url(../images/headerSprite_20200611.jpg); 
	}
	
	ul.menu1 > li.home > a > span {
		background-position: 0 0; 
	}
	ul.menu1 > li.whoweare > a > span {
		background-position: -500px 0; 
	}
	ul.menu1 > li.wherewelive > a > span {
		background-position: -1000px 0; 
	}
	ul.menu1 > li.newsletters > a > span {
		background-position: -1500px 0; 
	}
	ul.menu1 > li.technology > a > span {
		background-position: -2000px 0; 
	}
	ul.menu1 > li.artsandculture > a > span {
		background-position: -2500px 0; 
	}
	ul.menu1 > li.timeforjustice > a > span {
		background-position: -3000px 0; 
	}
	ul.menu1 > li.photos a span > a > span {
		background-position: -3500px 0; 
	}
	ul.menu1 > li.contactus > a > span {
		background-position: -4000px 0; 
	}
		
	a.photoLink > .verticalText,
	li.selected.off > a > .verticalText {
		transform: rotate(-90deg) ;
		transform-origin:  0.4em 0.5em;
		transition-property: transform;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
		position:absolute;
		bottom: 7px;
		left: 7px;
		color: white;
		font-family: 'Roboto', sans-serif;
		font-size: 27px;
		line-height:27px;
		font-weight: 300;
		text-shadow: 0px 0px 15px #000;
		margin:0;
		white-space: nowrap;
	}

	li.on > a > .verticalText,
	li.selected > a > .verticalText {
		transform: rotate(0deg) ;
		transform-origin: 0.4em 0.5em;
		transition-property: transform;
		transition-duration: 0.5s;
		transition-delay: 0.1s;
	}
	
	.clear {
		clear: both; 
	}
	
	/* -----------------------------------------------------------------------------------------
	Secondary menu
	------------------------------------------------------------------------------------------ */
	/* UL */
	ul.menu2 {
		display: none;
		position: absolute;
		top: 232px;
		left: 0;
		float: left;
		width: 956px;
		list-style: none;
		background: #5575db linear-gradient(to bottom, #5575db 0%,#3252bd 100%) repeat-x;
		font-size: 14px;
		line-height: 1em;
	}
	
	ul.menu1 > li.selected > ul,
	ul.menu1 > li.on > ul {
		display: block; 
	}
	
	ul.menu1 > li.off > ul {
		display: none; 
	}
	
	/* LI */
	ul.menu2 > li,
	ul.menu3 > li {
		float: none;
		display: inline;
	}
	
	/* A */
	ul.menu2 > li > a,
	ul.menu3 > li > a {
		display: inline-block;
		padding: 10px 8px 8px 8px;
		background-color: transparent;
		background-image: none;
		text-decoration: none; 
	}

	ul.menu2 > li > a {
		color: #fff;
		border-right: 1px solid white;;
		border-bottom-style: none;
	}
	
	ul.menu2 > li.selected > a,
	ul.menu2 > li.on > a,
	ul.menu2 > li:hover > a, 
	ul.menu2 > li.off > a {
			color: #145a9e;
		background-color: #fff;
	}
	
	ul.menu2 > li.selected > a {
		background: linear-gradient(to bottom, #c0defa 0%,#ffffff 100%) repeat-x;
		font-weight: bold; 
	}
	
	ul.menu2 > li > a:hover {
		text-decoration: underline; 
	}
	
	ul.menu2 > li.selected > a:hover {
		/* Want no visible change when moving mouse over currently selected item */
		text-decoration: none;
		cursor: default; 
	}
	
	/* -----------------------------------------------------------------------------------------
	Tertiary menu
	------------------------------------------------------------------------------------------ */
	/* UL */
	ul.menu3 {
		position: static;
		float: left;
		width: 956px;
		border-bottom: 1px solid #3252bd;
		background-image: none;
		background-color: #fff;
		display: none; 
	}
	
	ul.menu2 > li.selected > ul,
	ul.menu2 > li.on > ul {
		display: block; 
	}
	
	ul.menu2 > li.off > ul {
		display: none; 
	}
	
	/* LI */
	ul.menu3 > li {
		font-weight: normal; 
	}
	
	/* A */
	ul.menu3 > li > a {
		color: #145a9e;
		text-decoration: none;
		background-image: none;
		font-weight: normal; 
	}
	
	ul.menu3 > li > a:hover {
		text-decoration: underline; 
	}
	
	ul.menu3 > li.selected > a {
		font-weight: bold; 
	}
	
	ul.menu3 > li.selected > a:hover {
		text-decoration: none; 
	}

	/* -----------------------------------------------------------------------------------------
	Controls used on mobile menu
	------------------------------------------------------------------------------------------ */
	nav {
		input,
		label {
			display: none;
		}
	}
	label.menu,
	input.menu {
		display: none;
	}

	/* -----------------------------------------------------------------------------------------
	Menu overlay and loading graphic
	------------------------------------------------------------------------------------------ */
	.menuOverlay {
		height: 296px;
		top: 105px;
		z-index: 3;
	}

	.loading {
		position: absolute;
		z-index: 4;
		top: 90px;
		left: 398px;
		background-color: #fff;
		text-align: center;
		padding: 5px 10px 10px 10px;
		width: 160px;
		border-radius: 10px;
	}

	.loading p {
		margin: 0; 
	}

	.loading img {
		margin: 10px auto; 
		display: block;
	}

}