/* ***********************************************
Mobile 
************************************************ */

@media only screen and (max-width: 959px) {

	/* -----------------------------------------------------------------------------------------
	Layout
	------------------------------------------------------------------------------------------ */
	header {
		background-color: $blueDark;
		color: #fff;
		text-align: right;
		height: 83px;
	}
	main,
	footer {
		background-color: #fff;
		padding: 20px;
	}
	
	/* -----------------------------------------------------------------------------------------
	Header
	------------------------------------------------------------------------------------------ */
	.logo {
		font-size: 31px;
		padding: 12px 10px 0 0;
	
		> a {
			color: #fff;
		}
	}
	
	.tagline {
		padding-right: 13px;
		padding-bottom: 8px;
		font-size: 12px;
		font-style: italic;
		margin-top: -10px;
	}
	
	/* -----------------------------------------------------------------------------------------
	Open/close navigation
	------------------------------------------------------------------------------------------ */
	label.menu {
		position: absolute;
		z-index: 2;
		top: 22px;
		left: 11px;
		width: 44px;
		height: 44px;
		overflow: hidden;
		color: transparent;
		border: 1px solid transparent;
		border-radius: 4px;
		cursor: pointer;
		background-size: 22px 22px;
		background-repeat: no-repeat;
		background-position: 10px 4px;
		/* Font Awesome 'bars' */
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTYgMTMyaDQxNmM4LjgzNyAwIDE2LTcuMTYzIDE2LTE2Vjc2YzAtOC44MzctNy4xNjMtMTYtMTYtMTZIMTZDNy4xNjMgNjAgMCA2Ny4xNjMgMCA3NnY0MGMwIDguODM3IDcuMTYzIDE2IDE2IDE2em0wIDE2MGg0MTZjOC44MzcgMCAxNi03LjE2MyAxNi0xNnYtNDBjMC04LjgzNy03LjE2My0xNi0xNi0xNkgxNmMtOC44MzcgMC0xNiA3LjE2My0xNiAxNnY0MGMwIDguODM3IDcuMTYzIDE2IDE2IDE2em0wIDE2MGg0MTZjOC44MzcgMCAxNi03LjE2MyAxNi0xNnYtNDBjMC04LjgzNy03LjE2My0xNi0xNi0xNkgxNmMtOC44MzcgMC0xNiA3LjE2My0xNiAxNnY0MGMwIDguODM3IDcuMTYzIDE2IDE2IDE2eiIvPjwvc3ZnPg==");
	
		&.touched {
			border: 1px dotted white;
		}

		&:after {
			content: "MENU";
			display:block;
			position: relative;
			top: 3px;
			left: -4px;
			color: white;
			font-size: 12px;
		}
	}
	
	input.menu {
		display:none;

		&:checked + label.menu {
			/* Font Awesome 'times' */
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMjQyLjcyIDI1NmwxMDAuMDctMTAwLjA3YzEyLjI4LTEyLjI4IDEyLjI4LTMyLjE5IDAtNDQuNDhsLTIyLjI0LTIyLjI0Yy0xMi4yOC0xMi4yOC0zMi4xOS0xMi4yOC00NC40OCAwTDE3NiAxODkuMjggNzUuOTMgODkuMjFjLTEyLjI4LTEyLjI4LTMyLjE5LTEyLjI4LTQ0LjQ4IDBMOS4yMSAxMTEuNDVjLTEyLjI4IDEyLjI4LTEyLjI4IDMyLjE5IDAgNDQuNDhMMTA5LjI4IDI1NiA5LjIxIDM1Ni4wN2MtMTIuMjggMTIuMjgtMTIuMjggMzIuMTkgMCA0NC40OGwyMi4yNCAyMi4yNGMxMi4yOCAxMi4yOCAzMi4yIDEyLjI4IDQ0LjQ4IDBMMTc2IDMyMi43MmwxMDAuMDcgMTAwLjA3YzEyLjI4IDEyLjI4IDMyLjIgMTIuMjggNDQuNDggMGwyMi4yNC0yMi4yNGMxMi4yOC0xMi4yOCAxMi4yOC0zMi4xOSAwLTQ0LjQ4TDI0Mi43MiAyNTZ6Ii8+PC9zdmc+");

			&:after {
				content: "CLOSE";
				left: -3px;
			}
		}
	
		&:checked + label.menu + nav {
			transform: translate(64px);
			transition: 0.2s linear;
		}
		&:checked + label.menu + nav + .menuOverlay {
			display: block;
		}
	}
	
	/* -----------------------------------------------------------------------------------------
	Navigation
	------------------------------------------------------------------------------------------ */
	nav {
		box-sizing: border-box;
		width: calc(100% - 64px);
		position: absolute;
		z-index: 2;
		top: 0px;
		left: 0;
		transform: translate(calc(100% + 64%));
		background-color: $blueDark;
		text-align: left;

		li {
			position: relative;
			margin-bottom: 0;
	
			> a, 
			  label {
				box-sizing: border-box;
				color: #fff;
				display: block;
				height: 42px;
				padding: 8px 0 0 0;
				font-size: 20px;
				text-decoration: none;
				border-top: 1px solid $blueTint3;
			}
			&.hasChildren > a {
				display: none
			}
	
			> input {
				display: none;
	
				+ label:before {
					content: ' ';
					display:block;
					position: absolute;
					width: 22px;
					height: 22px;
					top: 13px;
					left: 20px;
	
					background-color: transparent;
					background-size: 22px 22px;
					/* Font Awesome 'chevron-down' */
					background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMjA3LjAyOSAzODEuNDc2TDEyLjY4NiAxODcuMTMyYy05LjM3My05LjM3My05LjM3My0yNC41NjkgMC0zMy45NDFsMjIuNjY3LTIyLjY2N2M5LjM1Ny05LjM1NyAyNC41MjItOS4zNzUgMzMuOTAxLS4wNEwyMjQgMjg0LjUwNWwxNTQuNzQ1LTE1NC4wMjFjOS4zNzktOS4zMzUgMjQuNTQ0LTkuMzE3IDMzLjkwMS4wNGwyMi42NjcgMjIuNjY3YzkuMzczIDkuMzczIDkuMzczIDI0LjU2OSAwIDMzLjk0MUwyNDAuOTcxIDM4MS40NzZjLTkuMzczIDkuMzcyLTI0LjU2OSA5LjM3Mi0zMy45NDIgMHoiLz48L3N2Zz4=");
				}
				/* This will remove the down angle when the submenu is expanded without relying on Javascript */
				&:checked + label:before {
					background-image: none;
				}
				/* If Javascript is running then reset the arrow to point up. */
				&:checked + label.checked:before {
					/* Font Awesome 'chevron-up' */
					background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMjQwLjk3MSAxMzAuNTI0bDE5NC4zNDMgMTk0LjM0M2M5LjM3MyA5LjM3MyA5LjM3MyAyNC41NjkgMCAzMy45NDFsLTIyLjY2NyAyMi42NjdjLTkuMzU3IDkuMzU3LTI0LjUyMiA5LjM3NS0zMy45MDEuMDRMMjI0IDIyNy40OTUgNjkuMjU1IDM4MS41MTZjLTkuMzc5IDkuMzM1LTI0LjU0NCA5LjMxNy0zMy45MDEtLjA0bC0yMi42NjctMjIuNjY3Yy05LjM3My05LjM3My05LjM3My0yNC41NjkgMC0zMy45NDFMMjA3LjAzIDEzMC41MjVjOS4zNzItOS4zNzMgMjQuNTY4LTkuMzczIDMzLjk0MS0uMDAxeiIvPjwvc3ZnPg==");
				}
	
				~ ul {
					display: none;
				}
				&:checked ~ ul {
					display: block;
				}
			}
		}

		.menu1 > li:first-child > a {
			border-top-style: none;
		}
		.menu1 > li:last-child > a {
			border-bottom: 1px solid $blueTint3;
		}
		.menu2 {
			margin-left: 60px;
	
			label:before  {
				left: 0;
			}
		}
		.menu3 {
			margin-left: 40px;
	
			label:before  {
				left: 0;
			}
		}
	
		ul.menu1 > li > a {
			padding-left: 20px;
		}
		ul.menu1 > li > label {
			padding-left: 60px;
		}
		ul.menu2 > li > a,
		ul.menu3 > li > a {
			padding-left: 0px;
		}
		ul.menu2 > li > label,
		ul.menu3 > li > label {
			padding-left: 40px;
		}
	}
	
	

	/* -----------------------------------------------------------------------------------------
	Overlay
	------------------------------------------------------------------------------------------ */
	.menuOverlay {
		z-index: 1;
		top: 83px;
		height: 1000px; /* Reset to document height if Javascript is working. */
	}

	/* -----------------------------------------------------------------------------------------
	Error pages
	------------------------------------------------------------------------------------------ */

	.errorBanner {
		margin: -19px -20px 0;
		height: 0;
		padding-top: 23.32%;
		overflow: hidden;
		background-size: 100%;
	}

	a.mobileLinkToHome { /* Definitely repeating myself here. */
		display: block;
		position: absolute;
		z-index: 2;
		top: 22px;
		left: 11px;
		width: 44px;
		height: 44px;
		overflow: hidden;
		color: transparent;
		border: 1px solid transparent;
		border-radius: 4px;
		cursor: pointer;
		background-size: 22px 22px;
		background-repeat: no-repeat;
		background-position: 10px 4px;
		/* Font Awesome 'home' */
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmZmZmYiIHZpZXdCb3g9IjAgMCA1NzYgNTEyIj48cGF0aCBkPSJNMjgwLjM3IDE0OC4yNkw5NiAzMDAuMTFWNDY0YTE2IDE2IDAgMCAwIDE2IDE2bDExMi4wNi0uMjlhMTYgMTYgMCAwIDAgMTUuOTItMTZWMzY4YTE2IDE2IDAgMCAxIDE2LTE2aDY0YTE2IDE2IDAgMCAxIDE2IDE2djk1LjY0YTE2IDE2IDAgMCAwIDE2IDE2LjA1TDQ2NCA0ODBhMTYgMTYgMCAwIDAgMTYtMTZWMzAwTDI5NS42NyAxNDguMjZhMTIuMTkgMTIuMTkgMCAwIDAtMTUuMyAwek01NzEuNiAyNTEuNDdMNDg4IDE4Mi41NlY0NC4wNWExMiAxMiAwIDAgMC0xMi0xMmgtNTZhMTIgMTIgMCAwIDAtMTIgMTJ2NzIuNjFMMzE4LjQ3IDQzYTQ4IDQ4IDAgMCAwLTYxIDBMNC4zNCAyNTEuNDdhMTIgMTIgMCAwIDAtMS42IDE2LjlsMjUuNSAzMUExMiAxMiAwIDAgMCA0NS4xNSAzMDFsMjM1LjIyLTE5My43NGExMi4xOSAxMi4xOSAwIDAgMSAxNS4zIDBMNTMwLjkgMzAxYTEyIDEyIDAgMCAwIDE2LjktMS42bDI1LjUtMzFhMTIgMTIgMCAwIDAtMS43LTE2LjkzeiIvPjwvc3ZnPg==");
	
		&:after {
			content: "HOME";
			display:block;
			position: relative;
			top: 25px;
			left: 2px;
			color: white;
			font-size: 12px;
		}
	}

}
