/* Tints and shades: https://www.tutorialrepublic.com/html-reference/html-color-picker.php */
$blueDark: #14599E;
$blueTint1: #437AB1;
$blueTint2: #729BC4;
$blueTint3: #A1BCD8;
$blueTint4: #D0DDEB;
$blueTint5: #E7EEF5;