/* 
Tints and shades: https://www.tutorialrepublic.com/html-reference/html-color-picker.php 
*/

$blueDark: #14599E;
$blueTint2: #437AB1;
$blueTint4: #729BC4;
$blueTint6: #A1BCD8;
$blueTint8: #D0DDEB;
$blueTint10: #E7EEF5;

$greenDark: #126d0a;
$greenTint9: #e7f0e6;

$terracotta: #db640b;
$terracottaTint9: #fbefe6;

$yellowPale: #feffee;