/* 
Tints and shades: https://www.tutorialrepublic.com/html-reference/html-color-picker.php 
Each tint is two jumps down on the chart.
*/

$blueDark: #14599E;
$blueTint1: #437AB1;
$blueTint2: #729BC4;
$blueTint3: #A1BCD8;
$blueTint4: #D0DDEB;
$blueTint5: #E7EEF5;

$greenDark: #126d0a;
$greenTint4: #cfe1ce;

$redDark: #900;
$redTint4: #eacccc;

$yellowDark: #8F9400;
$yellowTint4: #f5f6cc;