@use "_variables.scss";
@use "_reset.scss";

.story {
	width: calc(100% - 200px);
	float: left;
	margin-right: 20px;
}
figure {
	display: inline-block;
	width: 150px;
	vertical-align: top;
	margin: 0 20px 20px 0;
}
figure.youtubeThumbnail {
	width: 246px;
	margin-top: 10px;
}

  figcaption.thumbnail {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
  }
  figcaption.fullsize {
	display: none; /* Contains the caption for the photo shown with PhotoSwipe. */
  }
  img.thumbnail {

	box-shadow: 5px 5px 4px 0px #aaa;
	margin-bottom: 8px;
	padding: 4px;
	border: 1px solid #aaa;
  }

  .pswp__caption__center {
	  font-size: 15px;
  }
  .pswp__caption__center > p,
  .pswp__caption__center > pre,
  .pswp__caption__center > img,
  .pswp__caption__center > iframe {
	  margin: 0 0 0.5em 10px;
  }

