RewriteEngine on

# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>

<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

# AuthName www.sweetandsour.org
# AuthUserFile /home/sweetand/public_html/_vti_pvt/service.pwd
# AuthGroupFile /home/sweetand/public_html/_vti_pvt/service.grp

# RewriteCond %{HTTP_HOST} ^sweetandsour.org$ [OR]
# RewriteCond %{HTTP_HOST} ^www.sweetandsour.org$
# RewriteRule ^index.html$ "http\:\/\/www\.sweetandsour\.org\/home\/" [R=301,L]

RewriteCond ^\/sweetandsour\/$ [OR]
RewriteRule ^index.html$ "\/sweetandsour\/home\/" [R=301,L]

# RewriteCond %{HTTP_REFERER} !^$
# RewriteCond %{HTTP_REFERER} !^http://sweetandsour.org/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://sweetandsour.org$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.sweetandsour.org/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.sweetandsour.org$      [NC]
# RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

# AddHandler mod_deflate .css
# AddHandler mod_deflate .js

<IfModule mod_deflate.c>
	<FilesMatch ".(js|css)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>

# <FilesMatch ".(css|gif|jpg|js|pdf|png)$">
# Header set ExpiresDefault "access plus 1 month"
# </FilesMatch>
