body, table {margin:0; border:0; padding:0}
p {margin:5px 0 10px 10px; clear:both}

/* ---------------------------------------------------------------------------------------------------------------- */
/* Layout. */
div.inputBlock   {float:left; display:inline; margin: 0px 0 0 10px; width: 1000px}
div.environment  {float:left; display:inline; margin:0; width: 130px; font-size:10px}
div.actionInputs {float:left; display:inline; margin-left:20px}
div.inputRow     {float:left; width: 850px; display:inline; margin:0 0 5px 0; clear:both; background-color:transparent} /* A background color must be set or the button drops down. Really! Who would have thought setting background color would affect layout in IE? */
div.inputLabel   {float:left; width:  55px}
div.input        {float:left; width: 795px}
div.orderSet     {float:left; display:inline; margin:0}
div.then         {float:left; display:inline; margin:6px 5px 0 20px}

div.filterRow    {float:left; width:460px}
div.filterSet    {float:left; margin:0}

/* Input section components. */
form {margin-top:0; margin-bottom:0}
select    {height:17px}  /* font-size:10pt;  */

input#siteNumber {width:40px}
select#numRowsToShow    {width:45px} /* Number of rows to display drop down. */
select.fieldSelect      {width:135px; float:left} /* Drop down lists for sorting and filtering. */
select.bracketSelect    {width: 35px; float:left; margin-bottom:5px}
select.conditionSelect  {width:110px; float:left} /* Condition used for filtering. */
select.andOrSelect	    {width: 50px; float:left; margin-left:10px; margin-right:10px}
input.compareText       {width:120px; float:left}
div#closeBracketDisplay {font-size:11pt; font-weight:bold; float:left; display:none; margin:0 3px 0 3px}

.warning {color:red; font-weight:bold; clear:both}
div.warning ul {margin:0}

/* Paging controls. */
div.paging {margin:10px 0 0 0; float:left; display:inline; clear:both; width:400px}
div.paging a {margin-right:10px}
input.goTo {width:20px} /* Go to page text entry box. */

/* Buttons */
input.button {margin:10px 0 0 10px; float:left; display:inline}
div.buttonRow{clear:both}
input#updateButton {width:50px; float:left; display:inline} /* Update button. */

/* Div containing paging controls and table. */
div.resultsBlock {margin:10px 0 0 10px; float:left; display:inline; clear:both; padding-bottom:10px; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc}

/* ---------------------------------------------------------------------------------------------------------------- */
/* Data table. */
table#slider {margin:10px 10px 10px 0px; float:left; display:inline; table-layout:fixed; clear:both ; border-collapse:collapse} /* Remove border-collapse and border-right below for standard table behavior so borders under THs appear normal but then get extra space above rollover background. */
table#slider th, table#slider td {text-align:left; padding:0; border-right:2px solid white} /*  */
			
table#slider tr.std     {background-color:#ffffff}
table#slider tr.over  {background-color:#eeeeee}
table#slider tr.hilite  {background-color:#eeeeee}
table#slider tr.edit    {background-color:#c8eae3}
table#slider tr.changed {background-color:#c8eae3}
			
table#slider th {overflow:hidden; white-space:nowrap; background-color:#006600; color:white; font-weight:bold}
table#slider td {overflow:hidden; white-space:nowrap; background-color:inherit; color:black}

div.noHSpace {display:inline; position:relative; left:-3px; top:4px; margin:0px 0px 2px 0px; background-color:transparent; overflow:hidden; white-space:nowrap} /* Setting top margin has no effect as it appears to collapse; setting top padding causes padding to stretch up out of TH so top:2px set instead. */
div.space    {margin:2px 5px 2px 5px; background-color:transparent; overflow:hidden; white-space:nowrap}
div.noVSpace {margin:0px 5px 0px 5px; background-color:transparent}
th div.noHSpace {color:white}
th div.space    {color:white}
td div.space    {color:black}
td div.noVSpace {color:black}

img.action   {border:0; margin:1px 4px 0 4px; float:left; display:inline} /* Bottom margin collapses. Made buttons 1px taller. */
img.drag     {display:inline; position:relative; left:-6px; top:0px; vertical-align:top}

table#slider #column1   {width:25px}
table#slider #column2   {width:100px}
table#slider #column3   {width:100px}
table#slider #column4   {width:100px}
table#slider #column5   {width:230px}
table#slider #column6   {width:90px}
table#slider #column7   {width:68px}
table#slider #column8   {width:68px}
table#slider #column9   {width:50px}
table#slider #column10  {width:100px}
table#slider #column11  {width:115px}
table#slider #column12  {width:105px}

table#slider #column1   div.space {width:15px}
table#slider #column2   div.space {width:90px}
table#slider #column3   div.space {width:90px}
table#slider #column4   div.space {width:90px}
table#slider #column5   div.space {width:220px}
table#slider #column6   div.space {width:80px}
table#slider #column7   div.space {width:58px}
table#slider #column8   div.space {width:58px}
table#slider #column9   div.space {width:40px}
table#slider #column10  div.space {width:90px}
table#slider #column11  div.space {width:105px}
table#slider #column12  div.space {width:95px}

/* ---------------------------------------------------------------------------------------------------------------- */
/* Input controls that appear when editing a row. */
input#inputDescription  {width:90px} /* Description input. */
select#selectCategory   {width:220px} /* Category drop down. */
select#selectExclReport {width:80px} /* Exclude reporting drop down. */
input#inputProjectNote  {width:90px} /* Project note input. */


/* ---------------------------------------------------------------------------------------------------------------- */
/* Instructions. */
div#instructions {margin:10px 0 0 10px; float:left; display:inline; clear:both}
div#instructions ol {margin-top:0}




