/*
=ELEMENTS
======================================================================== */
	/*
	=HEADER
	======================================================================== */
	div#headerBgWrapper {
		background:#267f94 url("../img/bg_header.gif") repeat-x;
	}
	
	/*
	=LOGO (child to #header)
	======================================================================== */
	div#header h1 {
		width:398px;
	} div#header h1 a {
		background-image:url("../img//logo_screen.gif");
	}
	

	/*
	=SITE NAV (child to #header)
	======================================================================== */
		ul#siteNav li {
			background:url("../img/bg_topnav.gif") no-repeat 0 0;
		} ul#siteNav li a {
			background:transparent url("../img/bg_topnav.gif") no-repeat 100% -65px;
			color:#fff;
		}

	
/*
=RELATED Content (child to #content)
======================================================================== */		
	div#related .section li {
		list-style-image: url("../img/bg_li_1.gif");
		list-style-type: circle;
	}

/*
=SECONDARY Content (child to #content)
======================================================================== */
	div#secondary .feature h4 {
		color:#267f94;
	} div#secondary .feature li {
		list-style-image: url("../img/bg_li_0.gif");
		list-style-type: circle;
	}
	
	body.narrow div#secondary .feature.treatment1 {
		background:#f4f8fa url("../img/bg_treatment_1_b.gif") repeat-x;
	} body.narrow div#secondary .feature.treatment2 {
		background:#dfecef url("../img/bg_treatment_2_b.gif") repeat-x;
	} body.narrow div#secondary .feature.treatment3 {
		background:#d4e5ea url("../img/bg_treatment_3_b.gif") repeat-x;
	} body.narrow div#secondary .feature.treatment4 {
		background:#e9f2f4 url("../img/bg_treatment_4_b.gif") repeat-x;
	}
	
	div#secondary .feature.treatment1 {
		background:#f4f8fa url("../img/bg_treatment_1_a.gif") repeat-y;
	} div#secondary .feature.treatment2 {
		background:#dfecef url("../img/bg_treatment_2_a.gif") repeat-y;
	} div#secondary .feature.treatment3 {
		background:#d4e5ea url("../img/bg_treatment_3_a.gif") repeat-y;
	} div#secondary .feature.treatment4 {
		background:#e9f2f4 url("../img/bg_treatment_4_a.gif") repeat-y;
	}

	body.narrow div#secondary {
		background:url("../img/bg_secondary_narrow.gif") no-repeat;
	}

/*
=QUOTES
======================================================================= */
	table.quotes td {
		background-color:#e9eff4;
		border-bottom-color:#fff;
	}
	table.quotes tfoot td {
		background-color:#d6e0eb;
		color:#fff;
	}
	table.quotes a, table.quotes a:visited {
		color:#336699 !important;
	}
	fieldset.symbolLookup {
		background-color:#dfecef;
		border-top-color: #fff;
		border-bottom-color: #fff;
	} fieldset.symbolLookup .symbols {
	} fieldset.symbolLookup label {
	}
	
	
	
	
	
	
	
	
	