/* This stylesheet is for innovate.dc.gov/gratitude i.e. NOT the map, so do not delete it! */
/*
article {
	position: relative;
	top: -24px;
}
*/
/*
.upper-section {
	background-image: url("https://innovate.dc.gov/sites/default/files/dc/sites/MOPI/page_content/images/gratitude-word-cloud.jpg");
	background-repeat: no-repeat;
	height: 0;
}

.lower-section {
	padding-top:6px;
	padding-bottom: 1px;
	background-color: white;
}
*/
img {
	max-width: 100%;
}
.word-cloud {
	text-align: center;
}

.alert {
	background-color: #faf095;
	border: 2px solid #ada137;
	padding: 20px;
	margin: 20px 0;
	font-weight: bold;
	text-align: left;
}
.not-front #region-content .alert > h2 {
	border-left-style: none;
	color: #000;
	padding-left: 0px;
}

p.list-follows,
.alert > p:last-child {
	margin-bottom: 0;
}

/* Mobile 
@media screen and (max-width: 959px) {
	article {
		background-position: 50% 10px;
		background-size: contain;
	}
	.upper-section {
		margin-bottom: 100%;
	}
}
*/
/* Desktop 
@media screen and (min-width: 960px) {
	article {
		background-position: 50% 20px;
	}
	.upper-section {
		margin-bottom: 620px;
	}
}
*/