body {
	margin: 0;
}
#section-footer {
	display: none;
}

#section-header,
#zone-content-wrapper,
.zone-content-wrapper {
	margin-top: 0px;
}

.mapContent {
	position: relative;
}

#mapContainer,
#placeInfo {
	box-sizing: border-box;
}

#placeInfo {
	position: relative;
	background-color: #072c3a;
	padding: 20px;
	overflow: auto;
	color: #fff;
	border-top: 1px solid white;
}

.quoteContainer p {
	font-style: italic;
	border-top: 1px dotted #999;
	margin: 0 0 16px 0;
	padding-top: 12px;
}
.quoteContainer p:first-child {
	border-top-style: none;
}
span.notItalic {
	font-style: normal; /* Sorry, this is messy. */
}

.mapContent h1 {
	font-size: 36px;
	margin: 0 0 20px 0;
}
.mapContent h1,
.placeInfo > h2 {
	line-height: 1.1;
	font-family: 'Roboto', sans-serif;
}
.placeInfo > h1,
.placeInfo > h2,
.placeInfo > div > p,
.placeInfo > div > p > span,
.placeInfo > p {
	color: white;
}

.placeInfo > h2 {
	margin: -4px 0 0 0;
	font-size: 24px;
}

.placeInfo > .photoContainer {
	margin-bottom: 20px;
}

.caption {
	border-bottom: 1px solid white;
	font-size: 13px;
	margin: 0;
	padding: 2px 0 4px 0;
}
.caption > a {
	font-size: 13px;
}

.placeInfo a:link, 
.placeInfo a:visited {
	color: #acd;
	text-decoration: underline;
}
.placeInfo a:hover,
.placeInfo a:focus-visible {
	color: #f2f72f;
}

.placeInfo img {
	width: 100%;
}

.logoContainer {
	width: 80px;
	height: 95px;
	margin: 20px auto 0;
}

.hidden,
div.hidden { /* display:block set on leaflet-marker-icon  so .hidden won't override */
	display:none;
}

a:focus-visible,
.leaflet-container a.leaflet-popup-close-button:focus-visible {
	outline: 2px dotted red;
	border-radius: 3px;
}
.mapContainer a:focus-visible,
div.leaflet-control a:focus-visible,
.leaflet-container a.leaflet-popup-close-button:focus-visible {
	background-color: #f2f72f;
}

div.leaflet-container a.leaflet-popup-close-button,
div.leaflet-container a.leaflet-popup-close-button:focus,
div.leaflet-container a.leaflet-popup-close-button:hover {
	color: black;
}
div.leaflet-container a.leaflet-popup-close-button:hover {
	font-weight: bold;
}

.marker-pin {
	background-size: 31px 52px;
	background-repeat: no-repeat;
	text-align:center;
	padding-top: 3px;
	font-size: 16px;
	line-height: 24px;
}
.marker-pin:focus-visible {
	outline: none;
	background-image: url("../images/marker-pin-focus.png");
}
.marker-pin-range-1 {
	background-image: url("../images/marker-pin-range-1.png?version=5");
}
.marker-pin-range-2 {
	background-image: url("../images/marker-pin-range-2.png?version=4");
}
.marker-pin-range-3 {
	background-image: url("../images/marker-pin-range-3.png?version=4");
}
.marker-pin-range-4 {
	background-image: url("../images/marker-pin-range-4.png?version=4");
}

i.fa-solid {
	color: #072c3a;
	font-size: 14px;
}

div.leaflet-popup-content {
	font-size: 13px;
}

.mapContent .open-legend-btn {
	position: absolute;
	z-index: 1000;
	bottom: 0;
	left: 0;
	margin: 5px;
	display: inline-block;
	transition: .3s ease;
	font-size: 18px;
	height: 40px;
	line-height: 38px;
	padding: 0 20px;
	border-radius: 20px;
	color: white;
	background-color: #072c3a;
	background-clip: padding-box;
	background-image: linear-gradient(#516b75, #072c3a);
  border: 1px solid #072c3a;
	pointer-events: auto;
}
.open-legend-btn:hover,
.open-legend-btn:focus-visible {
	box-shadow: inset 0 40px 0 0 rgba(255,255,255,.5), 0 1px 1px 0 rgba(7,44,58,.5);
	color: #000;
}
.open-legend-btn:focus-visible {
	outline: 2px dotted red;
	box-shadow: inset 0 40px 0 0 #f2f72f, 0 1px 1px #92941c;
	
}
.legend {
	background-color: white;
	position: absolute;
	z-index: 1000;
	width: 180px;
	height: 434px;
	overflow: auto;
	bottom: 55px;
	left: 5px;
	padding: 6px 8px 0;
	border-radius: 6px;
	border: 1px solid black;
	box-shadow: 6px 6px 12px 1px rgba(0, 0, 0, 0.5);
}
.legend > form > fieldset {
	border-style: none;
	margin: 0;
	padding: 0;
}
.legend > form > fieldset > legend {
	height: 0;
	overflow: hidden;
}
.legend > form > fieldset > div {
	font-size: 13px;
	display: flex;
  align-items: flex-start;
}
.legend > form > fieldset > div > img,
.color-sample {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}
.legend > form > fieldset > div > label {
	display: inline-block;
	width: 130px;
	font-weight: normal;
}
.legend > form > fieldset > div:first-child > label {
	text-align: right;
}
.legend > form > fieldset > div > input:focus-visible {
	outline: 2px dotted red;
}

.range-1 {
	background-color: #bdd7e7;
}
.range-2 {
	background-color: #6baed6;
}
.range-3 {
	background-color: #3182bd;
}
.range-4 {
	background-color: #08519c;
}
#all-checkbox-label {
	margin-left: 26px;
}

.legend hr {
	margin: 6px 0;
}

a.ext { /* external - Drupal adds this class automatically */
	background-image: url("https://dc.gov/sites/all/modules/extlink/extlink.png");
	background-repeat: no-repeat;
	background-position: 100% 8px;
	padding-right: 16px;
}

/* Safari and Chrome on iOS will zoom in and make the site unusable if this is not set.
https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone */
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.leaflet-control-search .search-button,
.leaflet-control-search .search-button:hover,
.leaflet-control-search .search-cancel {
	background-image: url("../images/search-icon.svg");
	background-size: 20px 70px;
	background-repeat: no-repeat;
	background-color: #fff;
	vertical-align: top;
}
.leaflet-control-search .search-button {
	background-position: 5px 6px;
}
.leaflet-control-search .search-button:hover {
	background-position: 5px -20px;
}
.leaflet-control-search .search-cancel {
	right: 36px;
	height: 18px;
	width: 18px;
	background-position: 0 -51px;
}
.leaflet-control-search .search-tooltip {
	right: -2px;
	left: auto;
	max-height: none;
	margin-top: 6px;
}
.leaflet-control-search .search-alert {
	font-size: 13px;
	font-weight: normal;
	line-height: 1.1em;
}

/* Mobile */
@media screen and (max-width: 959px) {
	#section-footer {
		display: none;
	}

	#mapContainer {
		z-index: 1;
		position: relative;
		height: 100vh;
		width: 100%;
	}
	h1.alternateH1 {
		position: absolute;
		z-index: 2;
		margin: 44px 84px 0;
		top: 0;
		left: 0;
		color: black;
		text-shadow: 5px 5px 5px white, -5px 5px 5px white, 5px -5px 5px white, -5px -5px 5px white;
		text-align: center;
	}
	.searchOuterContainer {
		position: absolute;
		z-index: 3;
		top: 10px;
		right: 10px;
		height: 60px;
		text-align: right;
	}

	.leaflet-control-search,
	.leaflet-control-search.search-exp {
		border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
		text-align: right;
	}
	
	.leaflet-control-search input.search-input,
	.leaflet-control-search .search-button {
		float: none;
		display: inline-block;
	}
	input.search-input {
		width: 120px;
		vertical-align: top;
	}
	.leaflet-control-search .search-cancel {
		top: 2px;
	}
	.leaflet-control-search .search-tooltip {
		top: 36px;
	}
	

	#placeInfo {
		position: absolute;
		z-index: 4;
		width: calc(100% - 48px);
		height: calc(100vh - 48px);
		left: 24px;
		top: 24px;
		filter: drop-shadow(#666 6px 6px 6px);
	}
	.placeInfo h1 {
		margin: 0 40px 20px;
		text-align: center;
	}
	.closeButton {
		position: absolute;
		right: 12px;
		top: 12px;
		width: 32px;
		height: 32px;
		opacity: 1;
	}
	.closeButton > span {
		color: transparent;
		display: inline-block;
		width: 0;
	}

	.closeButton:before, 
	.closeButton:after {
		position: absolute;
		left: 15px;
		content: ' ';
		height: 33px;
		width: 4px;
		background-color: #fff;
	}
	.closeButton:before {
		transform: rotate(45deg);
	}
	.closeButton:after {
		transform: rotate(-45deg);
	}
	.hideMobile {
		display: none;
	}
	.legend {
		height: 444px; /* default not quite enough on iphone browsers for some reason. */
	}
}
/* End mobile */

/* Desktop */
@media screen and (min-width: 960px) {
	body {
		height: 100vh; /* I can't figure out what is making the page too tall if this is not here and causing a scrollbar to appear.*/
	}
	
	#mapContainer,
	#placeInfo {
		display: inline-block;
		width: 50%; 
		height: calc(100vh - 120px); 
	}
	
	#mapContainer { 
		border: 1px solid black;
	}

	h1.alternateH1 {
		display: none;
	}
	
	.closeButton {
		display: none;
	}
	
	#placeInfo > .photoContainer {
		width: 52%;
		padding-right: 2%;
		float: left;
		overflow: hidden;
		background-color: #072c3a;
	}
	.surveyLink {
		clear: both;
	}

	.hideDesktop {
		display: none;
	}
	.leaflet-control-search .search-cancel {
    top: 1px;
	}
}
/* End desktop */

