body {
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
  color: #000;
}

/*! CSS Used from: https://careers.dc.gov/cs/erecruit/oraclejet/css/libs/oj/v7.0.1/alta/oj-alta-notag-min.css */
.oj-tree-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/*! CSS Used from: https://careers.dc.gov/cs/erecruit/cache/DCH_DPSSTYLEDEF_FMODE_4.css */
* {
  margin: 0;
  padding: 0;
}
form {
  background: #fff;
  color: #000;
}
.ps_wrapper {
  max-height: 100%;
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;

  box-orient: vertical;

  box-align: stretch;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
label#HRS_SCH_WRK_HRS_SCH_TEXT100_LBL.ps-label,
#HRS_SCH_WRK_FLU_HRS_SAVE_SRCH {
  color: white;
}
#win0divHRS_SCH_WRK_HRS_SCH_TEXT100ctrl input.ps-edit {
  border-radius: 10px !important;
}
.ps_content,
.psc_page-container,
.ps_search,
.pst_panel-side1-top,
.pst_panel-side1-bottom {
  width: 100%;
  display: -ms-flexbox;

  box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;

  box-orient: vertical;

  box-align: stretch;
  position: relative;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;

  flex-direction: column;
  min-height: 0;
  flex: 1 1 auto;
}
.ps_header,
.ps_footer {

  box-flex: 0;
  position: relative;
  z-index: 209;
  flex: 0 0 auto;
}
.ps_footer {
  background-color: #f0f0f0;
  border-top: 1px solid #bbb;
}
.ps_header:empty,
.ps_footer:empty {
  display: none !important;
}
.ps_search.side {
  position: relative;
  font-style: normal;
  text-decoration: none;
  background-color: #ffffff;
  z-index: 208;
  border: 0;
}
.ps_search.psc_close {
  display: none;
}
.ps_search:empty {
  display: none;
}
.ps_header_bar .ps_system_cont > .ps_search-custom:empty {
  display: none;
}
.ps_mid_section,
.ps_main,
.ps_pagecontainer,
.ps_pspagecontainer {
  width: 100%;
  display: -ms-flexbox;
  box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  box-orient: vertical;
  box-align: stretch;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1 1 auto;
}
.ps_wrapper > .ps_box-pagetabs {

  box-flex: 0;
  padding-bottom: 0.5em;
  flex: 0 0 auto;
  overflow-x: auto;
  overflow-scrolling: touch;
}
.ps_box-pagetabs:empty {
  display: none;
}
.ps_main {
  transition: transform 1s ease-in-out 0.3s;
}
.ps_grid-body {
  /* background-color: #ffffff; */
  padding-top: 2px;
}
.ps_apps_content,
.ps_panel_content {
  width: 100%;
  box-flex: 1;
  overflow: auto;
  overflow-scrolling: touch;
  flex: 1 1 auto;
  min-height: 0;
  box-sizing: border-box;
}
.psc_force-hidden {
  display: none !important;
}
.ps_scrollable_v {
  overflow-x: hidden;
  overflow-y: auto;
}
.ps_scrollable {
  clear: both;
  -moz-outline: 0;
  position: relative;
  overflow-scrolling: touch;
}
.sbar::-webkit-scrollbar {
  height: 11px;
  width: 11px;
}
.sbar::-webkit-scrollbar-button {
  background-color: transparent;
  height: 5px;
}
.sbar::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
.sbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
.sbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.sbar::-webkit-scrollbar-corner {
  background-color: #ffffff;
}
img {
  border: 0;
  vertical-align: middle;
}
h1 {
  font-size: 1.35em;
}
h2,
legend {
  font-size: 1.1em;
  padding-top: 0.4em;
  padding-right: 0.4em;
  padding-bottom: 0.1em;
  padding-left: 0;
}
legend {
  width: 100%;
}
ul {
  padding-left: 1.2em;
}
input[type="text"] {
  font-family: inherit;
  border: 1px inset rgb(211, 211, 211);
  border-radius: 3px;
  font-weight: normal;
  font-size: 1em;
  background-image: none;
  box-shadow: inset 0.2em 0.2em 0.4em #e9e9e9;
  border: 1px solid #bbb;
  height: auto;
  padding: 0.42em 0.25em;
  box-sizing: border-box;
  background-color: #fff;
}
input[type="text"]:disabled {
  background-color: rgb(235, 235, 235);
}
input[type="text"]:hover,
input[type="text"]:focus {
  border-color: #7f97de;
}
input[type="text"]:disabled {
  border-color: rgb(211, 211, 211);
  color: #555;
}
label,
.ps-label {
  font-weight: bold;
  white-space: normal;
  color: #1d2733;;
}
.ps_apps_pageheader .ps-label {
  color: white;
}
.ps-link {
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
a:link,
a:visited,
.ps-link:link,
.ps-link:visited {
  text-decoration: none;
  color: #3366cc;
}
a:link:hover,
.ps-link:hover {
  text-decoration: underline;
  color: #ab5b1a;
}
a:not([href]),
.ps-link:disabled,
.ps-link:link:disabled {
  text-decoration: none;
  color: #555;
}
.ps_box-label,
.ps_box-control,
.ps_box-value,
.ps_box-link,
.ps_box-button {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  color: #000;
}
.ps-button-wrapper,
.ps-link-wrapper {
  display: inline-block;
}
.ps_box-label {
  width: 33%;
  text-align: right;
  padding-right: 0.76em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ps_box-longedit.psc_disabled.psc_wrappable .ps_box-label {
  padding-top: 1px;
}
.ps_box-label:last-child {
  width: auto;
  text-align: left;
}
.psc_nolabel .ps_box-label {
  display: none !important;
}
.psc_wrap {
  white-space: normal;
}
.ps_box-edit,
.ps_box-checkbox,
.ps_box-longedit,
.ps_box-staticimg,
.ps_box-text {
  white-space: nowrap;
  position: relative;
  margin-bottom: 0.75em;
}
.ps-edit {
  font-weight: normal;
  font-size: 1em;
}
.ps_box-longedit.psc_wrappable:not(.psc_label-suppressed) {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
}
.ps_box-longedit.psc_wrappable > .ps_box-label {
  display: block;
  box-flex: 0;
  flex: 0 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ps_box-longedit.psc_wrappable:not(.psc_label-suppressed) > .ps_box-value {
  display: block;
  box-flex: 1;
  flex: 1 1 auto;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1px;
}
/* .ps_box-edit.psc_disabled,
.ps_box-longedit.psc_has_value {
  min-height: 1.5em;
} */
.psc_rowact:not(.psc_disabled) {
  cursor: pointer;
}
.ps_box-button,
.ps_box-link {
  font-weight: bold;
  white-space: nowrap;
}
.ps_box-button {
  line-height: 1.2em;
  vertical-align: middle;
}
.ps-button > img:only-child {
  max-height: 1.2em;
}
.ps-button > .ps-img {
  vertical-align: middle;
  margin-top: -1px;
  border: none;
  max-height: 1.2em;
}
.ps-button > .ps-text + .ps-img,
.ps-link > .ps-text + .ps-img {
  margin-left: 0.4em;
}
.ps-button > .ps-text:not(:only-child),
.ps-link > .ps-text:not(:only-child) {
  position: relative;
  top: 1px;
}
.psc_image_only .ps-button > .ps-text {
  display: none;
}
.psc_image_only .ps-button > .ps-text + .ps-img {
  margin-left: 0;
}
.ps-button,
.ps-button:link,
.ps-button:visited {
  display: inline-block;
  padding: 0.5em 1.2em;
  border: 1px solid #a5a7a8;
  border-radius: 0.25em;
  background-image: -webkit-linear-gradient(#ffffff, rgb(204, 204, 204));
  background-image: -moz-linear-gradient(#ffffff, rgb(204, 204, 204));
  background-image: -ms-linear-gradient(#ffffff, rgb(204, 204, 204));
  background-image: linear-gradient(#ffffff, rgb(204, 204, 204));

  box-shadow: 1px 1px 2px rgba(051, 051, 051, 0.4),
    inset 1px 1px 2px rgba(255, 255, 255, 0.7);
  text-decoration: none;
  color: #000000;
  text-shadow: 1px 1px 0px #eee;
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ps-button:hover,
.ps-button:link:hover {
  background-image: -webkit-linear-gradient(#ffffff, rgb(153, 153, 153));
  background-image: -moz-linear-gradient(#ffffff, rgb(153, 153, 153));
  background-image: -ms-linear-gradient(#ffffff, rgb(153, 153, 153));
  background-image: linear-gradient(#ffffff, rgb(153, 153, 153));
  text-decoration: none;
  color: #000000;
}
.ps-button:disabled {
  border-color: #ccc;
  background-image: -webkit-linear-gradient(
    rgb(221, 221, 221),
    rgb(204, 204, 204)
  );
  background-image: -moz-linear-gradient(
    rgb(221, 221, 221),
    rgb(204, 204, 204)
  );
  background-image: -ms-linear-gradient(rgb(221, 221, 221), rgb(204, 204, 204));
  background-image: linear-gradient(rgb(221, 221, 221), rgb(204, 204, 204));
  box-shadow: inset 1px 1px 2px #ffffff;
  text-shadow: 1px 1px 0px #e2e2e2;
  color: #555;
}
.ps-button:not([disabled]):active,
.ps-button:not([disabled]):hover:active {
  background-image: -webkit-linear-gradient(rgb(170, 170, 170), #ffffff);
  background-image: -moz-linear-gradient(rgb(170, 170, 170), #ffffff);
  background-image: -ms-linear-gradient(rgb(170, 170, 170), #ffffff);
  background-image: linear-gradient(rgb(170, 170, 170), #ffffff);
  color: #000000;
  box-shadow: inset 1px 2px 2px #fff;
}
.psc_image_only > .ps-button-wrapper > .ps-button {
  background: #fff;
  border-radius: 100%;
  padding: 8px;
  padding-top: 7px;
  border: 1px solid #bbb;
  border-top-color: #eee;
  border-left-color: #eee;
  box-shadow: none;
}
.psc_image_only > .ps-button-wrapper > .ps-button:hover {
  border-color: #888 #eee #eee #888;
  border-right-color: #eee;
  border-left-color: #888;
  box-shadow: none;
  text-decoration: none;
}
.psc_image_only > .ps-button-wrapper > .ps-button:active {
  border-color: #1e9955 #80d6a7 #80d6a7 #1e9955;
  border-right-color: #80d6a7;
  border-left-color: #1e9955;
  background: #c8ead6;
  box-shadow: inset 1px 1px 0px #e1faec;
}
.ps_box-checkbox.psc_standard > .ps_box-control > .ps_indicator {
  display: none !important;
}
.ps_box-checkbox > .ps_box-label {
  white-space: normal;
}
.ps_box-checkbox > .ps_box-label:last-child {
  padding-left: 0.5em;
}
.ps_box-group,
.ps_content-group {
  box-sizing: border-box;
}
.ps_apps_content {
  padding: 0.5em 1em;
}
.psc_layout,
fieldset {
  border: none;
}
.ps_header-group {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.ps_header-group,
.ps_grid-title {
  color: rgb(164, 086, 023);
  font-weight: bold;
}
.ps_header-group {
  margin-bottom: 0.75em;
}
.ps_header-group:empty {
  display: none;
}
.ps_header_bar {
  display: block;
  border: none;
  border-bottom: 1px solid rgb(141, 179, 223);
  vertical-align: middle;
  text-align: center;
  position: relative;
  white-space: nowrap;
  background-image: -webkit-linear-gradient(rgb(57, 106, 144), rgb(23, 54, 81));
  background-image: -moz-linear-gradient(rgb(57, 106, 144), rgb(23, 54, 81));
  background-image: -ms-linear-gradient(rgb(57, 106, 144), rgb(23, 54, 81));
  background-image: linear-gradient(rgb(57, 106, 144), rgb(23, 54, 81));
  color: rgba(255, 255, 255, 0.95);
}
.ps_box-button.psc_modal-close > .ps-button-wrapper > .ps-button {
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
  border-radius: 1em;
  padding: 0.3em 0.55em 0.33em 0.55em;
  line-height: initial;
  vertical-align: middle;
}
.ps_box-button.psc_modal-close > .ps-button-wrapper > .ps-button:hover {
  background: #fff;
  border-color: #999;
}
.ps_box-button.psc_modal-close > .ps-button-wrapper > .ps-button:active {
  background: #fafafa;
  border-color: #bbb;
}
.ps_header_bar .ps_box-group {
  display: inline-block;
  border: none;
  background-color: transparent;
  margin: 0;
  white-space: nowrap;
}
.ps_header_bar .ps_box-button {
  line-height: inherit;
}
.ps_back_cont {
  position: absolute;
  top: 0.1em;
  left: 0.4em;
}
.ps_actions_cont {
  position: absolute;
  top: 0.1em;
  right: 0;
}
.ps_pagetitle_cont {
  display: block;
  margin-left: 5em;
  margin-right: 5em;
  padding-top: 0;
  min-height: 2.75em;
  overflow: hidden;
}
.ps_pagetitle {
  padding-top: 0.42em;
  padding-bottom: 0.42em;
}
.ps_header_button:not(.psc_hidden) {
  display: inline-block;
}
.ps_box-button.ps_header_button .ps-button,
.ps_box-button.ps_header_button:link .ps-button,
.ps_box-button.ps_header_button:hover .ps-button,
.ps_box-button.ps_header_button:link:hover .ps-button {
  padding: 0;
  background-image: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.ps_box-button.ps_header_button .ps-button .ps-img,
.ps_box-button.ps_header_button:link .ps-img,
.ps_box-button.ps_header_button:hover .ps-img,
.ps_box-button.ps_header_button:link:hover .ps-img {
  max-height: none;
  height: 1.72em;
  padding: 0.345em;
  width: 1.72em;
}
.ps_header_bar .ps_header_button + .ps_header_button {
  margin-left: 0.875em;
}
.ps_system_cont,
.ps_custom_cont,
.ps_header_bar .ps_system_cont > div:not(.psc_hidden) {
  display: inline-block;
}
.ps_custom_cont:empty {
  display: none;
}
.ps_header_bar .ps_back_cont .ps_system_cont:not(:empty) + .ps_custom_cont {
  margin-left: 0.875em;
}
.ps_header_bar .ps_actions_cont .ps_custom_cont:not(:empty) + .ps_system_cont {
  margin-left: 0.875em;
}
.ps_header_bar .ps_box-button:empty {
  display: none !important;
}
.ps_header_bar .ps_box-button .ps-button,
.ps_header_bar .ps_box-button .ps-button:link,
.ps_header_bar .ps_box-button .ps-button:hover {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
  text-shadow: none;
  color: #ffffff;
  font-size: 0.95em;
  box-shadow: inset 0px 0px 3px #5b8cb2;
}
.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:hover {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  box-shadow: -1px -1px 0px rgb(148, 168, 186),
    inset -1px -1px 2px rgb(28, 46, 61);
}
.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:active,
.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:hover:active {
  background-image: none;
  background-color: rgb(26, 54, 78);
  color: #fff;
  box-shadow: inset 0px 0px 3px #92c3e8;
}
.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:hover {
  background-color: #1a3d5a;
  box-shadow: inset 0px 0px 3px #5b8cb2;
}
.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:active {
  background-color: #0f2d47;
  box-shadow: inset 0px 0px 3px #92c3e8;
}
.ps_header_bar .ps_actions_cont .ps_system_cont .ps-button,
.ps_header_bar .ps_header_button .ps-button,
.ps_header_bar .ps_header_button .ps-button:link {
  box-shadow: none;
  font-size: 1em;
}
.ps_header_bar .ps_actions_cont .ps_system_cont .ps_header-navbar {
  margin-left: 0.5em;
}
.ps_grid-title {
  padding-left: 0;
}
.psc_rowcount {
  font-weight: bold;
  font-size: 0.9em;
  text-align: right;
  margin-bottom: 0.2em;
}
.ps_box-grid-title {
  position: relative;
}
.ps_grid-title + .psc_rowcount {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
}
.ps_grid-body {
  padding-top: 2px;
}
.psc_grid-notitle .ps_grid-title,
.ps_box-grid-header_bar:empty,
.psc_grid-norowcount .psc_rowcount {
  display: none;
}
.ps_box-scrollarea-row {
  position: relative;
}
.ps_box-scrollarea-row + .ps_box-scrollarea-row {
  margin-top: 0.9em;
}
.ps_box-grid-list.psc_show-actionable .psc_rowact {
  position: relative;
  padding-right: 1.25em;
}
.ps_box-grid-list.psc_show-actionable .psc_rowact:not(.psc_disabled):after {
  position: absolute;
  content: url(https://sweetandsour.org/files/images/PT_NUI_CHEVRON_1.svg);
  right: 0.2em;
  top: 50%;
  margin-top: -0.4575em;
  width: 0.915em;
  height: 0.915em;
}
.ps_box-grid-header_bar {
  border: 1px solid #bbb;
  border-bottom-width: 0;
}
.ps_header-grid-end {
  clear: both;
}
.ps_header-grid-custom {
  padding: 0.25em 0.2em;
  padding-top: 0;
}
.ps_header-grid-custom {
  overflow: hidden;
}
.ps_header-grid-custom:empty {
  display: none !important;
}
.ps_box-grid-header_bar.psc_has_systemop {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.psc_has_systemop .ps_header-grid-custom {
  box-flex: 1;
  flex: 1 1 auto;
  float: none;
}
.ps_header-grid-custom > div {
  float: left;
  margin-top: 0.1em;
  margin-right: 0.5em;
  margin-left: 0;
}
.psc_gridlist-standard.ps_box-grid-list .ps_box-gridc {
  border-top: 1px solid #bbb;
}
.psc_gridlist-standard.ps_box-grid-list .ps_grid-body .ps_grid-row {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ddd;
}
.psc_gridlist-standard.ps_box-grid-list
  .ps_grid-body
  .ps_grid-row
  > div:last-child {
  margin-bottom: 0;
}
.psc_gridlist-standard.ps_box-grid-list .ps_grid-body .ps_grid-row > a > div {
  min-height: 0;
  margin-bottom: 0.5em;
}
.ps_box-grid-list.psc_gridlist-standard .ps_grid-body .ps_grid-row {
  position: relative;
}
.psc_gridlist-standard.ps_box-grid-list:not(.psc_multiselect-hide):not(
    .psc_singleselect-hide
  )
  .ps_grid-body
  .ps_grid-row {
  padding-left: 1em;
}
.psc_gridlist-standard.ps_box-grid-list .ps_grid-body {
  padding: 0px;
}
.psc_gridlist-standard.ps_box-grid-list li.ps_grid-row {
  list-style-type: none;
}
.ps_menuitem {
  position: relative;
}
.ps_menuitem > .ps_box-link,
.ps_menuitem > .ps_box-link > .ps-link-wrapper,
.ps_menuitem > .ps_box-link > .ps-link-wrapper > .ps-link {
  display: block;
  box-sizing: border-box;
}
.ps_menuitem > .ps_box-link > .ps-link-wrapper > .ps-link {
  padding: 1em;
  color: #000;
  white-space: normal;
  text-overflow: ellipsis;
}
.ps_menuitem > .ps_box-link > .ps-link-wrapper > .ps-link:hover,
.ps_menuitem > .ps_box-link > .ps-link-wrapper > .ps-link:active {
  color: #000;
  text-decoration: none;
}
.psc_rowact:not(.psc_disabled) {
  cursor: pointer;
}
.ps_menuitem:not(.psc_disabled):hover,
.psc_rowact:not(.psc_disabled):hover {
  background-color: #ffffeb;
}
.ps_menuitem:active,
.psc_rowact:not(.psc_disabled):active {
  background-color: rgba(26, 54, 78, 0.4);
}
.ps_apps_pageheader,
.ps_ag-processheader {
  padding: 0.3em 0.4em;
  text-align: left;
  border-bottom: 1px solid #bbb;
}
.ps_ag-processheader {
  background-color: #f0f0f0;
  text-shadow: 1px 1px 0px #f7f7f7;
}
.ps_ag-processheader:empty {
  display: none;
}
.ps_apps_pageheader:empty {
  padding: 0.4em;
}
.ps_apps_pageheader.psc_pageheader-fixed {
  background-color: #1a4480;
}
.psc_grid-nohbar .ps_box-grid-header_bar {
  display: none;
}
.psc_gridlist-bordertop.ps_box-grid-list .ps_box-gridc {
  border-top: 1px solid #bbb;
}
.psc_confirmation-area {
  padding: 1em 2em;
  text-align: center;
  white-space: normal;
  background: #c8ead6;
  color: #000;
  text-shadow: 1px 1px 0px #f0f6eb;
  border: 1px solid #76a68a;
  box-sizing: border-box;
}
.psc_confirmation-msg .ps_box-label {
  display: none !important;
}
.psc_confirmation-msg {
  font-weight: bold;
  margin-bottom: 0;
}
.psc_confirmation-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.ps_ag-processheader {
  position: relative;
}
.psc_strong {
  font-weight: bold;
}
.psc_wrap {
  white-space: normal;
}
.psc_margin-bottomnone {
  margin-bottom: 0;
}
.psc_margin-topnone {
  margin-top: 0;
}
.psc_margin-top05em {
  margin-top: 0.5em;
}
.psc_padding-bottomnone {
  padding-bottom: 0;
}
.psc_padding-left1em {
  padding-left: 1em;
}
.psc_label-top > div.ps_box-label {
  display: block;
  text-align: left;
  width: auto;
}
.psc_lineheight-full {
  line-height: 100%;
}
.psc_margin-top0_2em {
  margin-top: 0.2em;
}
.psc_margin-top0_4em {
  margin-top: 0.4em;
}
.psc_margin-left0_4em {
  margin-left: 0.4em;
}
.psc_margin-bottom0_5em {
  margin-bottom: 0.5em;
}
.psc_margin-left0_5em {
  margin-left: 0.5em;
}
.psc_margin-top0_7em {
  margin-top: 0.7em;
}
.psc_margin-left2em {
  margin-left: 2em;
}
.psc_padding-top0_1em {
  padding-top: 0.1em;
}
.psc_padding-left0_4em {
  padding-left: 0.4em;
}
.psc_padding-top0_5em {
  padding-top: 0.5em;
}
.psc_padding-top0_7em {
  padding-top: 0.7em;
}
.psc_padding-left1em {
  padding-left: 1em;
}
.psc_padding-bottom3em {
  padding-bottom: 3em;
}
.psc_maxwidth-40em {
  max-width: 40em;
}
.psc_display-inlineblock {
  display: inline-block;
}
.psc_confirmation-animate {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
}
.psc_flex-none {
  box-flex: 0;
  flex: 0 0 auto;
}
.psc_panel-container,
.psc_panel-action,
.psc_panel-content,
.psc_panel-actioninterior,
.psc_panel-contentinterior,
.pst_panel-side1,
.pst_panel-side2 {
  width: 100%;
  display: -ms-flexbox;
  box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  box-orient: vertical;
  box-align: stretch;
  position: relative;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1 1 auto;
}
.psc_panel-action {
  overflow: visible;
}
.psc_panel-contentinterior {
  overflow: auto;
}
.psc_panel-actioninterior {
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden;
  transition: visibility 0s 0.65s ease-in-out;
}
.psc_panel-container {
  box-orient: horizontal;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}
.psc_panel-action,
.pst_panel-side1,
.pst_panel-side2 {
  background: #f0f0f0;
  border-color: #bbb;
  border-style: solid;
  border-width: 0;
}
.psc_panel-container .psc_panel-action {
  width: 0;
  flex: 0 0 auto;
  transition: transform 0.65s ease-in-out;
}
.psc_panel-fixed .psc_panel-action {
  margin: 0;
}
.psc_panel-container.psc_panel-fixed .psc_panel-actioninterior {
  visibility: visible;
  transition: none;
}
.psc_panel-container.psc_panel-fixed .psc_panel-action {
  width: 19.5em;
  border-color: #bbb;
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
}
.pst_panel-side1-bottom:empty {
  display: none !important;
}
.psc_panel-actioninterior {
  background: #f0f0f0;
}
.pst_panel-side1:empty,
.pst_panel-side2:empty,
.ps_wrapper:not(.pst_panel-mode) .pst_panel-side1,
.ps_wrapper:not(.pst_panel-mode) .pst_panel-side2 {
  display: none !important;
}
.psc_hidden {
  display: none;
}
.psc_fieldset-hidereadable > legend {
  position: absolute !important;
  left: 0 !important;
  top: -9999px !important;
  right: auto !important;
  bottom: auto !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: block !important;
}

@media only screen and (max-width: 800px) {
  .ps_header_bar .ps_pagetitle {
    padding-bottom: 0;
  }
  .ps_header_bar .ps_pagetitle > .ps-text {
    max-width: 42vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}
@media only screen and (max-width: 680px) {
  .ps_header_bar .psc_hide-BP3 {
    display: none !important;
  }
  .ps_header_bar .ps_pagetitle > .ps-text {
    max-width: 49vw;
  }
}
@media only screen and (max-width: 580px) {
  .ps_header_bar .ps_pagetitle > .ps-text {
    max-width: 57vw;
  }
}
@media only screen and (min-width: 1px) and (max-width: 900px),
       only screen and (orientation: portrait) {
  .psc_panel-container:not(.psc_override) .psc_panel-action {
    width: 19.5em;
    transform: translate3d(-100%, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    margin: 0 !important;
  }
  .psc_panel-container:not(.psc_override)
    .psc_panel-action
    > .psc_panel-actioninterior {
    visibility: hidden;
    transition: visibility 0s 0.65s ease-in-out;
  }

  .ps_scrollable {
    height: calc(100vh - 249px);
   }
}


.oj-tree-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/*! CSS Used from: https://careers.dc.gov/cs/erecruit/cache/HRS_CG_SS_1.css */
.hrs_action_menuitem a {
  text-align: left;
}
.hrs_cg_page_width_1024 {
  max-width: 1024px;
}
/*! CSS Used from: https://careers.dc.gov/cs/erecruit/cache/HRS_CG_SEARCH_SS_1.css */
.facet_group_box {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.ps_header-grid-custom {
  padding-left: 0em;
}
.hrs_cg_search_fld_gbox {
  width: 80vw;
  max-width: 36em;
}
.hrs_cg_search_fld_gbox > .ps_box-edit {
  width: 100%;
}
.hrs_cg_search_fld_gbox > .ps_box-edit > .ps_box-control {
  width: 100%;
}
.hrs_cg_search_fld_gbox > .ps_box-edit > .ps_box-control > .ps-edit {
  width: 100%;
}
.hrs_searched_keyword > .ps-htmlarea > strong {
  color: rgb(164, 86, 23);
  font-weight: bold;
}
/*! CSS Used from: https://careers.dc.gov/cs/erecruit/cache/PTS_NUI_FFSTYLE_1.css */
.ptpg_facet_sort {
  margin-left: 91%;
  margin-top: 0.5em;
}
.pts_nui_facetarea > .ps_box-grid-list .ps_grid-list > ul {
  padding: 0.5em;
  padding-bottom: 0em;
  padding-top: 0em;
  list-style-type: none;
}
.pts_nui_facetarea > .ps_box-grid-list .ps_grid-list > ul > li {
  margin: 10px 0;
}
.pts_nui_facetarea > .ps_box-grid-list .ps_grid-list > ul > li:first-child {
  margin-top: 0;
}
.pts_nui_facetarea
  > .ps_box-grid-list
  .ps_grid-list
  > ul
  > li
  > .ps_box-group
  > .ps_box-checkbox
  > .ps_box-label
  > label {
  font-weight: normal;
  color: #1d2733;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  display: inline-block;
  max-width: 15em;
  vertical-align: top;
}
.pts_fontweight-normal > .ps_box-label > .ps-label {
  font-weight: normal;
}
.pts_width100 {
  width: 100% !important;
}
.pts_nui_facetarea_ms {
  overflow-y: hidden;
  overflow-x: hidden;
}
.pts_nui_facetarea_ms .ps_box-grid {
  overflow-y: hidden;
  width: 100% !important;
  height: 100% !important;
}
.pts_nui_facetarea_ms .ps_box-grid-list {
  overflow-y: hidden;
  width: 100% !important;
}
.ptpg_treefacet_size {
  /* height: 335px; */
  width: auto;
  background: #ffffff;
}
.pts_kwsrch .pg_treefacet_container {
  overflow-x: hidden;
  overflow-y: auto;
}

.pts_facets .ptpg_jet_treeitem[bindingapplied="true"] {
  display: block;
}
.pts_facets .ps_header-group {
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-right: 0em;
}
/*! CSS Used from: https://careers.dc.gov/cs/erecruit/cache/PTTREEMGR_JET_1_0_OVERRIDE_CSS_1.css */
.pg_treefacet_container {
  width: auto;
  height: auto;
}
.ptpg_jet_treeitem {
  display: none;
}
.ptpg_jet_treeitem .oj-tree-list li {
  margin-bottom: 1px;
  margin-left: 6px;
  min-height: 15px;
  min-width: 15px;
  white-space: nowrap;
}
/*! CSS Used from: https://careers.dc.gov/cs/erecruit/cache/DCH_BRAND_FLUID_TEMPLATE_UI_3_DCH_CUSTOM_MACROSET_855_1.css */
.ps_career_fluid1 {
  height: 70px !important;
  padding: 0px !important;
}
.ps_career_fluid1 img {
  margin-top: 15px;
}
.ps_career_fluid1 .ps-button {
  top: -10px;
}
.ps_career_fluid1 h1 {
  margin-top: 17px;
}

@media (max-width: 767px) {
  .ps_career_fluid1 h1 {
    top: -5px;
    position: relative;
  }
  .ps_header .ps_career_fluid1 .ps_pagetitle_cont {
    margin: 0;
  }
}

.ps_header_bar {
  border-bottom-color: %PT_BANNER_BORDER_COLOR;
  background-image: -webkit-%PT_BANNER_BACKGROUND_IMAGE;
  background-image: -moz-%PT_BANNER_BACKGROUND_IMAGE;
  background-image: -ms-%PT_BANNER_BACKGROUND_IMAGE;
  background-image: %PT_BANNER_BACKGROUND_IMAGE;
  background-color: %PT_BANNER_BACKGROUND_COLOR;
  color: %PT_BANNER_TEXT_COLOR;
}
.ps_header_bar .ps_box-button .ps-button,
.ps_header_bar .ps_box-button .ps-button:link,
.ps_header_bar .ps_box-button .ps-button:hover {
  background-color: %PT_BANNER_BUTTON_BACKGROUND_COLOR;
  border-color: %PT_BANNER_BUTTON_BORDER_COLOR;
  color: %PT_BANNER_BUTTON_TEXT_COLOR;
  box-shadow: %PT_BANNER_BUTTON_BOXSHADOW;
}
.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:hover {
  background-color: %PT_BANNER_BUTTON_BACKGROUND_COLOR_HOVER;
  border-color: %PT_BANNER_BUTTON_BORDER_COLOR_HOVER;
  color: %PT_BANNER_BUTTON_TEXT_COLOR_HOVER;
  box-shadow: %PT_BANNER_BUTTON_BOXSHADOW_HOVER;
}
.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:active,
.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:hover:active {
  background-color: %PT_BANNER_BUTTON_BACKGROUND_COLOR_ACTIVE;
  color: %PT_BANNER_BUTTON_TEXT_COLOR_ACTIVE;
  box-shadow: %PT_BANNER_BUTTON_BOXSHADOW_ACTIVE;
}
.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:hover {
  background-color: %PT_BANNER_BUTTON_TRUE_BG_COLOR_HOVER;
  box-shadow: %PT_BANNER_BUTTON_TRUE_BXSHADOW_HOVER;
}
.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:active {
  background-color: %PT_BANNER_BUTTON_TRUE_BG_COLOR_ACTIVE;
  box-shadow: %PT_BANNER_BUTTON_TRUE_BXSHADOW_ACTIVE;
}
.ps_header_bar .ps_actions_cont .ps_system_cont .ps-button,
.ps_header_bar .ps_header_button .ps-button,
.ps_header_bar .ps_header_button .ps-button:link {
  box-shadow: %PT_BANNER_BUTTON_GENERAL_BOXSHADOW;
}
.psc_confirmation-area {
  background: %PT_CONFIRMATION_BACKGROUND;
  color: %PT_CONFIRMATION_TEXT_COLOR;
  text-shadow: %PT_CONFIRMATION_TEXTSHADOW;
  border-color: %PT_CONFIRMATION_BORDER_COLOR;
}
.ps_box-button.ps_header_button .ps-button {
  position: relative;
}
:root:not(.psc_mode-ag) .ps_box-button.ps_header_button .ps-button:after {
  position: absolute;
  height: 1.72em;
  padding: 0.345em;
  width: 1.72em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: -1px;
}
:root
  .ps_header_bar
  .ps_box-button.psc_menu-act
  > .ps-button-wrapper
  > .ps-button:after {
  content: url(https://careers.dc.gov/cs/erecruit/cache/DCH_BRAND_FLUID_TEMPLATE_UI_3_DCH_CUSTOM_MACROSET_855_1.css);
}
h1,
h2,
ul,
li,
div,
form,
input,
label,
span,
a {
  font-family: "Roboto", sans-serif;
}
a:link,
a:visited,
.ps-link:link,
.ps-link:visited {
  color: #749abb;
}
a:link:focus,
a:visited:focus,
.ps-link:link:focus,
.ps-link:visited:focus {
  outline: 1px solid #e24301;
}
.ps_header_bar {
  width: 100%;
  height: 13px;
  background-image: -webkit-linear-gradient(#000, #000);
  background-image: -moz-linear-gradient(#000, #000);
  background-image: -ms-linear-gradient(#000, #000);
  background-image: linear-gradient(#000, #000);
  border-bottom: 1px solid #124a7e;
  background: url(https://careers.dc.gov/cs/erecruit/cache/DCH_BRAND_FLUID_TEMPLATE_UI_3_DCH_CUSTOM_MACROSET_855_1.css);
  height: 60px;
}
.ps-text {
  color: #000000;
}
.ps_header_bar {
  background: #fff;
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 26px 0px;
  box-shadow: 1px 3px 5px 2px #ddd;
  border-bottom: 0px !important;
}
.ps_header:before {
  content: "";
  background: url(https://sweetandsour.org/files/images/DCH_HEADER_BANNER_1.png);
  height: 13px;
  width: 100%;
  background-size: 100% 100%;
  display: block;
  vertical-align: top;
  background-repeat: no-repeat;
  position: relative;
}
a:link:focus,
.ps-link:link:focus {
  outline: none;
}
.ps_actions_cont {
  top: 32px;
}
.ps_box-button.psc_menu-act > .ps-button-wrapper > .ps-button:hover:after {
  opacity: 0.5;
}
.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:hover {
  background-color: transparent;

  box-shadow: none;
}
.ps_header_bar .ps_actions_cont a:hover {
  background-color: #dde8ff !important;
  border: 1px solid #de4156 !important;
}
.ps_header_bar .ps_actions_cont .ps_system_cont .ps-button,
.ps_header_bar .ps_header_button .ps-button,
.ps_header_bar .ps_header_button .ps-button:link {
  border: 1px solid transparent;
}
.ps_menuitem:not(.psc_disabled):hover,
.psc_rowact:not(.psc_disabled):hover {
  background-color: #dde8ff;
  outline: none;
}
.ps_pagetitle {
  padding: 0px;
}
.ps_pagetitle span.ps-text {
  font-family: "Roboto-Bold", sans-serif;
  line-height: 42px;
  color: #20394f;
  text-transform: none;
  font-size: 28px;
  letter-spacing: -0.8px;
}
@media (max-width: 768px) {
  .ps_pagetitle span.ps-text {
    font-family: "Roboto-Bold", sans-serif;
    line-height: 30px;
    color: #20394f;
    text-transform: none;
    font-size: 18px;
    letter-spacing: -0.8px;
  }
  .psc_panel-actioninterior {
    z-index: 1111;
    margin-top: 4px;
  }
  .psc_panel-actioninterior .ps_box-scrollarea .psc_collapsible:hover {
    background-color: #dde8ff;
  }
  @media (max-width: 767px) {
    .ps_header .ps_pagetitle_cont {
      margin: 40px auto 0;
    }
    .ps_header_bar {
      padding: 23px 0px 5px;
    }
  }
  .ps_header-gsearch {
    display: none !important;
  }
}

/* img */
.psc_panel-button .ps-img {
  width: 0.9em;
}
/* a */
.ps-button, .ps-button:link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  text-shadow: 1px 1px 0px #eee;
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ps_box-button.psc_panel-button .ps-button {
  position: relative;
}
.ps_box-button.psc_panel-button > .ps-button-wrapper > .ps-button {
  padding: 0 0.275em;
  border-radius: 0 0.25em 0.25em 0;
  background: linear-gradient(to left, rgb(57,106,144),rgb(23,54,81));
  border: 1px solid #1d405d;
  box-shadow: none !important;
  line-height: 2.8em;
}



.pst_panel-button {
  margin-top: -100%;
}
.ps_box-button {
  line-height: 1.2em;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
}
/*
.psc_panel-button {
  margin-top: -100%;
}
*/

.psc_panel-container.psc_panel-fixed .psc_panel-tabcontainer {
  display: none;
}

@media only screen and (min-width: 1px) and (max-width: 900px), only screen and (orientation: portrait) {
  .psc_panel-container.psc_panel-fixed:not(.psc_override) .psc_panel-tabcontainer {
    display: block;
  }

  .psc_panel-container.psc_open:not(.psc_override) .psc_panel-action {
    transform: translate3d(0,0,0);
    box-shadow: 0 0 5px 1px #ccc;
  }

  .psc_panel-container.psc_open:not(.psc_override) .psc_panel-actioninterior {
    visibility: visible;
    transition: none;
  }
}
.psc_panel-tabcontainer {
  position: absolute;
  top: 50%;
  right: -1.56em;
  z-index: 200;
}
.psc_layout {
  border: none;
}
.ps_box-group {
  box-sizing: border-box;
}
.psc_padding-bottom3em {
  padding-bottom: 3em;
}
