/* Global Styles */



body {

	color: #9c9c9c;

	background-color: #fff;

	font-family: Arial;

	font-size: 9px;

}



select, input {

	font-size:10px;	

}



a {

	text-decoration: none;

	color: #3366CC;	

}



div#screen { /* contains all wsod content; dictates width of all children divs */

	margin-left: auto; 

	margin-right: auto;

	width: 620px;

	position: relative;

}



div#componentNavBar { /* top grey navigation bar */	

	border-top: 1px solid #DEDBDE;

	border-bottom: 1px solid #DEDBDE;

	background-color: #F2F2F2;

	padding: 3px;

	color: #666;

	height: 18px;

	

}

div#componentNavBar img {

	cursor: pointer;

	cursor: hand; 

	margin-bottom: 2px;

}



div#coSearch {	/* company search div */

	border: 1px solid #CCC;

	float: right;

	width: 276px;

	text-overflow: hidden;

	

}



div#coSearchInner {	/* company search div */

	border-top: 1px solid #FFF;

	background-color: #E4E5D7;

	color: #666;

	padding-left: 5px;

	padding-right: 5px;

	height: 18px;

}



div#coSearch form {

	display: inline;	

}



div#coSearch input {

	height: 12px;

	width: 100px;

	font-size: 9px;

}



div#coSearch a {

	font-size: 9px;

}



div#coSearch img {

	cursor: pointer;

	cursor: hand;

}



div#category h1 { /* "STOCKS", "MARKETS" etc.  one per screen. */

	

	padding:3px;

	padding-left:5px;

	color: #fff;

	font-weight: bold;

	font-size: 11px;

	background-color: #36c;

	border-top: 1px solid #d8d8d8;

	border-bottom: 1px solid #ccc;

	margin-bottom:0px;

	margin-top:0px;

	

}



div#component { /* a collection of subsections */

		

	border-bottom: 1px solid #999;	

		

}



div.subsection { /* has orange header.  contains one or more modules. */

	

	padding-bottom: 10px;

	margin-bottom: 10px;

	border-bottom: 2px solid #9C9A9C;	

	

}



div.subsection h2 {  /* the orange header */

	

	margin-top: 0px;

	padding: 3px;

	padding-left: 5px;

	font-size: 11px;

	font-weight: bold;

	color: #e57f1b;

	background-color: #F2F2E6;

	border-top: 1px solid #fff;

	border-bottom: 1px solid #ccc;	

		

}



div.module {

	clear:both; /* Will need to override in a few cases */

}



div.module h3 {  /* orange header - dotted border style */

	

	margin-top:0px;

	margin-bottom:10px;

	font-size: 11px;

	font-weight: bold;

	color: #e57f1b;

	background-image: url(img/dottedLine.gif);

	background-position: 0% 100%;

	background-repeat: repeat-x;

	position: relative;

}



div.moduleBox { /* not used for all modules, but pretty common.  wrapper div not including a header */

	

	border: 1px solid #CECFCE;

	border-bottom: 2px solid #9C9A9C;

	margin-bottom: 10px;

	position: relative;

		

}



div.moduleBoxHeader {	

	margin-top:0px;

	padding:0px;

	padding-left:5px;

	border-top: 1px solid #FFF;

	border-bottom: 1px solid #CECFCE;

	background-color: #F2F2E6;		

}



div.moduleBoxHeader h4  {

	

	padding:3px;

	margin-top:0px;

	margin-bottom:0px;

	color: #313031;

	font-size: 11px;

	font-weight: bold;

}



div.moduleBoxContent {

	

	padding: 10px;	

	

}



div#companyHeader{

	margin-bottom: 5px;

}



h5#companyName  {

	margin-bottom: 0px;

	margin-top: 3px;

	font-size: 12px;

	

}



h5#companyName img {

	margin-right: 5px;

	margin-bottom: 0px;

}



div#footer {

	

}



A#footer {

	

}



div.clearer { /* if placed at end of DIV contents, forces DIV to stretch around contents */

	clear:both; 

	line-height:0px; 

	height:0px;

}



table.dotsBelow th, tr.dotsBelow th, th.dotsBelow, table.dotsBelow td, tr.dotsBelow td, td.dotsBelow, div.dotsBelow {

	background:#fff url(../img/dottedLine.gif) repeat-x scroll bottom;

}





/* COMMON TAB NAV STYLES */



ul#tabNav {

	width: 100%;

	list-style: none;

	margin: 0px;

	padding: 0px;

	padding-top: 5px;

	padding-bottom: 5px;

	background-color: #F2F2E6;

	border: 1px solid #CCC;

	text-align: center;

}



ul#tabNav li {

	display: inline;

	border-right: 1px solid #999;

	padding-right: 6px;

	padding-left: 6px;

	cursor: pointer;

	cursor: hand;

	color: #3366CC;

}



ul#tabNav li.noBorder {

	border: 0px;

}



div#tabNavSelected {

	position: absolute;

	background-color: #FFF;

	border-top: 2px solid #999;

	border-left: 1px solid #CCC;

	border-right: 1px solid #CCC;

	text-align: center;

	padding-top: 5px;

	cursor: pointer;

	cursor: hand;

	color: #686464;

}





/* CHART SELECT BUTTONS */





ul.chSelect {

	list-style: none;

	margin: 0px;

	padding: 1px;

	padding-bottom: 0px;

	font-size: 9px;	

}



ul.chSelect li {

	float: left;

	background-color: #FFF;

	margin: 0px;

	cursor: pointer;

	cursor: hand;

	color: #36C;

	background-image: url(/thomson/component/resources/img/dot999.gif);

	background-repeat: repeat-y;

	width: 16.667%;

	padding-top: 2px;

	padding-bottom: 2px;

	text-align: center;	

}



ul.chSelect li.on {

	color: #E6E6E6;

	background-color: #36C;

}



.break {clear:both;}

.fleft { float:left;}

.fright { float:right;}